/*変数*/
/*色の変数*/

$mainColor :#000000;

$bgColor1:#FFFFFF;

$stringColor:#333333;

/*font*/

$fontFamily1 : "Augusten-Script", sans-serif;
$fontFamily2 : "fa-brands-400", sans-serif;
$fontFamily3 : "Font Awesome 5 Free-Solid-900", sans-serif;
$fontFamily4 : "FontAwesome", sans-serif;
$fontFamily5 : "MaterialIcons-Regular", sans-serif;
$fontFamily6 : "NotoSansCJKjp-Bold", sans-serif;
$fontFamily7 : "NotoSansCJKjp-DemiLight", sans-serif;
$fontFamily8 : "NotoSansCJKjp-Light", sans-serif;
$fontFamily9 : "NotoSansCJKjp-Medium", sans-serif;
$fontFamily10 : "NotoSansCJKjp-Regular", sans-serif;
$fontFamily11 : "SanFranciscoDisplay-Medium", sans-serif;
$fontFamily12 : "SanFranciscoText-Heavy", sans-serif;
$fontFamily13 : "Ubuntu-Bold", sans-serif;
$fontFamily14 : "Ubuntu-Light", sans-serif;
$fontFamily15 : "Ubuntu-Medium", sans-serif;
$fontFamily16 : "Ubuntu-Regular", sans-serif;

$font-sizeXXXL:24px;
$font-sizeXXL:22px;
$font-sizeXL:20px;
$font-sizeL:18px;
$font-sizeM:16px;
$font-sizeS:14px;
$font-sizeXS:12px;
$font-sizeXXS:10px;
$font-sizeXXXS:8px;

/*画面マックスサイズ*/
$displayMaxsize:1360px;
$displaySPMaxsize:375px;
$displayMinsize:1020px;