@font-face {
	font-family: 'Augusten-Script';
	src: url('../fonts/Augusten-Script.otf');
}
@font-face {
	font-family: 'fa-brands-400';
	src: url('../fonts/fa-brands-400.ttf');
}

@font-face {
	font-family: 'Font Awesome 5 Free-Solid-900';
	src: url('../fonts/Font Awesome 5 Free-Solid-900.otf');
}

@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/FontAwesome.otf');
}

@font-face {
	font-family: 'MaterialIcons-Regular';
	src: url('../fonts/MaterialIcons-Regular.ttf');
}

@font-face {
	font-family: 'NotoSansCJKjp-Bold';
	src: url('../fonts/NotoSansCJKjp-Bold.otf');
}

@font-face {
	font-family: 'NotoSansCJKjp-DemiLight';
	src: url('../fonts/NotoSansCJKjp-DemiLight.otf');
}

@font-face {
	font-family: 'NotoSansCJKjp-Light';
	src: url('../fonts/NotoSansCJKjp-Light.otf');
}

@font-face {
	font-family: 'NotoSansCJKjp-Medium';
	src: url('../fonts/NotoSansCJKjp-Medium.otf');
}

@font-face {
	font-family: 'NotoSansCJKjp-Regular';
	src: url('../fonts/NotoSansCJKjp-Regular.otf');
}

@font-face {
	font-family: 'SanFranciscoDisplay-Medium';
	src: url('../fonts/SanFranciscoDisplay-Medium.otf');
}

@font-face {
	font-family: 'SanFranciscoText-Heavy';
	src: url('../fonts/SanFranciscoText-Heavy.otf');
}

@font-face {
	font-family: 'Ubuntu-Bold';
	src: url('../fonts/Ubuntu-Bold.ttf');
}

@font-face {
	font-family: 'Ubuntu-Light';
	src: url('../fonts/Ubuntu-Light.ttf');
}

@font-face {
	font-family: 'Ubuntu-Medium';
	src: url('../fonts/Ubuntu-Medium.ttf');
}

@font-face {
	font-family: 'Ubuntu-Regular';
	src: url('../fonts/Ubuntu-Regular.ttf');
}
