@charset "UTF-8";
// Sass Document　レイアウト設定

//original設定
@import '_variables';
@import '_mixin';


body {
	color: $stringColor;
	line-height: 1.5;
	margin: 0;
	background-color:$bgColor1;
	min-width: $displayMinsize;
	letter-spacing: 0.1em;
	font-feature-settings: "palt";
}

.container {
	width:100%;
	margin: auto;
	overflow:hidden;
}

div,section{
	box-sizing: border-box;
}
ul,ol{
	list-style: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	li{
		box-sizing: border-box;
	}
}
img{
	display: block;
	outline: none;
}
*:focus {
outline: none;
}
h1,h2,h3,h4,h5,p{
	margin: 0;
	padding: 0;
}

.dspnone{
	display: none !important;
}


.sp{
	display: none !important;
}

.kerning{
	letter-spacing: -0.4em;
}

@for $v from 1 through 20 {
	
	.mt#{$v * 10}{
		margin-top: 10px * $v !important;
	}
	.mb#{$v * 10}{
		margin-bottom: 10px * $v !important;
	}
	.pt#{$v * 10}{
		padding-top: 10px * $v !important;
	}
	.pb#{$v * 10}{
		padding-bottom: 10px * $v !important;
	}
}

@media screen and (max-width: 768px){
	body {
		min-width: auto;
	}
	
	.sp{
		display: block !important;
	}
	.pc{
		display: none !important;
	}
	
	header{
		nav{
			flex-direction: column;
			position: fixed;
			background-color: #FFFFFF;
			margin: 0;
			height: 100%;
			width: 100%;
			right: -100%;
			margin-right: 0;
			top: 0;
			justify-content: center;
			-webkit-transition: all .5s cubic-bezier(0, 0, 0, 1);
			-o-transition: all .5s cubic-bezier(0, 0, 0, 1);
			transition: all .5s cubic-bezier(0, 0, 0, 1);
			z-index: 15000;
			
		}		
		nav.open{
			right: 0;
		}
		
		#nav__btn{
			position: absolute;
			display: block;
			top: 25px;
			right: calc(100% + 40px);
			height: 50px;
			width: 40px;
			cursor: pointer;
			pointer-events: auto;
			z-index: 2;
			z-index: 15001;
		}
		#nav__btn::after,
		#nav__btn::before,
		#nav__btn>i{
			position: absolute;
			right:0;
			top: 0;
			content: '';
			background-color: $stringColor;
			height: 3px;
			width: 30px;
			-webkit-transition: all .3s ease-out;
			-o-transition: all .3s ease-out;
			transition: all .3s ease-out;
		}
		.open #nav__btn
		{
			position: absolute;
			right: 40px;
			top: 20px;
			width: 30px;
		}
		#nav__btn::before {
			top: 0;
		}
		#nav__btn>i {
			top: 10px;
		}
		#nav__btn::after {
			top: 20px;
		}
		nav.open #nav__btn::before {
			top: 24px;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		nav.open #nav__btn>i {
			opacity: 0;
		}
		nav.open #nav__btn::after {
			top: 24px;
			-webkit-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}
		
	}
	
	
}

a{
	text-decoration: none;
	color: $stringColor;

}

a:hover{
	filter: alpha(opacity=70);
	opacity: .7;
	transition: opacity 0.5s 0s ease-out;
	-webkit-transition: opacity 0.5s 0s ease-out;
	-o-transition: opacity 0.5s 0s ease-out;
	
	img{
		filter: alpha(opacity=70);
		opacity: .7;
		transition: opacity 0.5s 0s ease-out;
		-webkit-transition: opacity 0.5s 0s ease-out;
		-o-transition: opacity 0.5s 0s ease-out;
	}
}

.opacity0{
	opacity: 0;
	position: relative;
	//display: none;
}
.opacity100{
	opacity: 1;
	animation: opacity100 0.3s linear 0s;
}
.loading{
	opacity: 1;
	animation: loading 1.8s infinite ease-in-out both;
}
.img_anime{
	opacity: 1;
	animation:marker 4.8s infinite;
}

@keyframes opacity100{
	0%{
		opacity:0;
		top: 20px;
	}
	50%{
		opacity:0.5;
	}
	100%{
		opacity:1;
		top: 0;
	}
}
@keyframes loading {
  0% {
    //transform: scale(0.95);
    opacity: 0;
  }
  50% {
   // transform: scale(1);
    opacity: 1;
  }
  100% {
    //transform: scale(0.95);
    opacity: 0;
  }
}
@keyframes marker{
	0%{
		-webkit-transform:translateY(0) scaleY(0.2);
		transform:translateY(0) scaleY(0.2);
		transform-origin:left bottom;
		opacity:0
	}
	5.5%{
		-webkit-transform:translateY(-5px) scaleY(1);
		transform:translateY(-5px) scaleY(1);
		transform-origin:left bottom;
		opacity:1
	}
	11%{
		-webkit-transform:translateY(0) scaleY(0.7);
		transform:translateY(0) scaleY(0.7);
		transform-origin:left bottom;
	}
	16.5%{
		-webkit-transform:scaleY(1);transform:scaleY(1);
		transform-origin:left bottom;
	}
}

.totop{
	display: block;
	width: 54px;
	
	position: fixed;
	right: 40px;
	bottom: 40px;
	img{
		width:  100%;
	}
}
@media screen and (max-width: 768px){

	.totop{
		display: block;
		width: 36px;
		right: 20px;
		bottom: 20px;
	}
}