@charset "UTF-8";
/*変数*/
/*色の変数*/
/*font*/
/*画面マックスサイズ*/
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 71px;
  border-bottom: 1px solid #000000;
  background-color: #FFFFFF;
  z-index: 10000; }
  header .header-inner {
    width: 100%;
    min-width: 1020px;
    margin: auto;
    display: flex;
    justify-content: space-between; }
  header .header-title {
    width: 196px;
    margin-left: 40px; }
    header .header-title img {
      margin-top: 14px;
      margin-bottom: 14px;
      width: 100%; }
  header nav {
    display: flex;
    justify-content: flex-end; }
    header nav ul {
      display: flex;
      justify-content: flex-start;
      margin-right: 40px; }
      header nav ul li {
        font-size: 13px;
        font-family: "NotoSansCJKjp-Light", sans-serif;
        font-weight: 400; }
        header nav ul li a {
          display: block;
          height: 71px;
          line-height: 71px;
          position: relative;
          padding-left: 10px;
          padding-right: 10px; }
        header nav ul li a::after {
          position: absolute;
          bottom: 0px;
          left: 0;
          content: '';
          width: 100%;
          height: 2px;
          /*background: #E083A5;*/
          background: #000000;
          transform: scale(0, 1);
          transform-origin: left top;
          transition: transform .3s; }
        header nav ul li a:hover::after {
          transform: scale(1, 1); }
  header .header-dlbtn {
    width: 276px; }
    header .header-dlbtn img {
      width: 100%; }

.spacer {
  height: 71px; }

main {
  display: block;
  min-height: calc(100vh - 444px); }
  main .main-inner {
    width: 100%;
    min-width: 1020px;
    margin: auto; }
  main .main_btn1 {
    display: block;
    background-color: #006b67;
    max-width: 1020px;
    margin: auto;
    margin-top: 40px;
    padding: 40px 0; }
    main .main_btn1 img {
      width: 100%;
      max-width: 447px;
      margin: auto; }
  main .main-001 {
    width: 100%;
    margin: auto;
    height: 529px;
    background-image: url("../img/main001_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 1px;
    display: flex;
    justify-content: center; }
    main .main-001__left {
      background-color: #FFFFFF;
      width: 512px;
      order: 1; }
      main .main-001__left h2 {
        text-align: center;
        width: 311px;
        margin: auto;
        font-family: "NotoSansCJKjp-Medium", sans-serif;
        font-size: 20px;
        font-weight: 400;
        color: #1d5554;
        border: 1px solid #92cacd;
        padding: 15px 10px;
        letter-spacing: 0.3em;
        margin-top: 60px; }
      main .main-001__left h1 {
        text-align: center;
        margin: auto;
        font-family: "NotoSansCJKjp-Bold", sans-serif;
        font-weight: 400;
        font-size: 42px;
        margin-top: 50px; }
      main .main-001__left__btn {
        width: 100%;
        max-width: 412px;
        margin: auto;
        margin-top: 70px; }
        main .main-001__left__btn img {
          width: 100%; }
    main .main-001__right {
      order: 2;
      background-color: #FFFFFF;
      align-self: center;
      position: relative;
      padding: 90px 20px 20px 20px;
      margin-left: -20px;
      filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.4)); }
      main .main-001__right--img1 {
        width: 491px; }
      main .main-001__right--img1_1 {
        position: absolute;
        width: 65px;
        top: 25px;
        left: 430px; }
      main .main-001__right--img1_2 {
        position: absolute;
        width: 190px;
        top: 140px;
        left: 310px; }
      main .main-001__right--img2_1 {
        position: absolute;
        width: 89px;
        top: 215px;
        left: 207px; }
      main .main-001__right--img2_2 {
        position: absolute;
        width: 90px;
        top: 340px;
        left: 125px; }
      main .main-001__right--img3_1 {
        position: absolute;
        width: 47px;
        top: 145px;
        left: 185px; }
      main .main-001__right--img3_2 {
        position: absolute;
        width: 193px;
        top: 245px;
        left: 35px; }
      main .main-001__right--img4_1 {
        position: absolute;
        width: 91px;
        top: 110px;
        left: 110px; }
      main .main-001__right--img4_2 {
        position: absolute;
        width: 69px;
        top: 185px;
        left: 110px; }
      main .main-001__right--img5_1 {
        position: absolute;
        width: 73px;
        top: 127px;
        left: 42px; }
      main .main-001__right--img5_2 {
        position: absolute;
        width: 33px;
        top: 205px;
        left: 100px; }
      main .main-001__right--img6_1 {
        position: absolute;
        width: 49px;
        top: 260px;
        left: 67px; }
      main .main-001__right--img6_2 {
        position: absolute;
        width: 60px;
        top: 275px;
        left: 110px; }
      main .main-001__right--img3 {
        position: absolute;
        width: 482px;
        top: 135px;
        left: 25px;
        animation: loading 1.2s infinite ease-in-out both; }
      main .main-001__right--img4 {
        position: absolute;
        width: 437px;
        top: 19px;
        left: 55px;
        animation: loading 1.2s infinite ease-in-out both; }
  main .main-002 {
    background-color: #333333;
    width: 100%;
    position: relative;
    padding-top: 35px;
    padding-bottom: 20px; }
    main .main-002__rupi {
      font-family: "NotoSansCJKjp-Light", sans-serif;
      font-weight: 400;
      font-size: 10px;
      position: absolute;
      color: #FFFFFF;
      top: -9px;
      left: calc(50% - 300px);
      transform: translate(-50%, 0);
      letter-spacing: 0.2em; }
    main .main-002 h2 {
      position: relative;
      font-family: "NotoSansCJKjp-Medium", sans-serif;
      font-weight: 400;
      font-size: 25px;
      text-align: center;
      color: #FFFFFF;
      width: 859px;
      margin: auto;
      letter-spacing: 0.11em; }
    main .main-002 h2:before {
      content: "";
      background-image: url("../img/main002_left.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 17px 46px;
      width: 17px;
      height: 46px;
      position: absolute;
      top: -10px;
      left: -18px; }
    main .main-002 h2:after {
      content: "";
      background-image: url("../img/main002_right.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 17px 46px;
      width: 17px;
      height: 46px;
      position: absolute;
      top: -10px;
      right: -18px; }
    main .main-002 ul {
      display: flex;
      justify-content: center;
      margin-top: 20px; }
      main .main-002 ul li {
        width: 330px;
        border-left: 1px solid #666666;
        padding: 10px 0;
        text-align: center;
        color: #FFFFFF; }
      main .main-002 ul li:last-child {
        border-right: 1px solid #666666; }
    main .main-002__listtop {
      position: relative;
      font-family: "NotoSansCJKjp-Light", sans-serif;
      font-weight: 400;
      font-size: 20px;
      text-align: center; }
    main .main-002__listtopdiv {
      width: 100%;
      max-width: 78px;
      margin: auto; }
      main .main-002__listtopdiv img {
        width: 100%; }
    main .main-002__listbottom {
      margin-top: 10px;
      font-family: "NotoSansCJKjp-Light", sans-serif;
      font-weight: 400;
      font-size: 27px;
      text-align: center; }
      main .main-002__listbottom span {
        font-family: "NotoSansCJKjp-Medium", sans-serif;
        font-weight: 400;
        font-size: 33px; }
    main .main-002 .fs20 {
      font-size: 20px; }
      main .main-002 .fs20 span {
        letter-spacing: -0.05em; }
  main .main-003 {
    background-image: url("../img/main003_bg.png");
    background-repeat: no-repeat;
    background-position: top 210px center;
    background-size: 100% auto;
    position: relative; }
    main .main-003 h3 {
      margin-top: 60px;
      font-family: "NotoSansCJKjp-Medium", sans-serif;
      font-weight: 400;
      font-size: 25px;
      text-align: center;
      letter-spacing: 0.2em; }
    main .main-003 h2 {
      margin-top: 40px;
      font-family: "NotoSansCJKjp-Light", sans-serif;
      font-weight: 400;
      font-size: 32px;
      text-align: center;
      letter-spacing: 0.05em; }
      main .main-003 h2 .small {
        font-size: 29px; }
      main .main-003 h2 span.big {
        font-size: 36px;
        font-family: "NotoSansCJKjp-Medium", sans-serif;
        font-weight: 400; }
      main .main-003 h2 span.grey {
        color: #cccccc; }
    main .main-003__topdiv {
      margin: auto;
      margin-top: 70px;
      padding: 50px 80px;
      box-sizing: border-box;
      background-color: #f2f2f2;
      width: 100%;
      max-width: 1020px; }
      main .main-003__topdiv h4 {
        width: 394px;
        text-align: center;
        color: #FFFFFF;
        font-family: "NotoSansCJKjp-Medium", sans-serif;
        font-weight: 400;
        font-size: 22px;
        background-color: #333333;
        padding: 2px;
        margin: auto; }
      main .main-003__topdiv ul {
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        main .main-003__topdiv ul li:first-child {
          width: 104px;
          margin-right: 20px; }
          main .main-003__topdiv ul li:first-child img {
            width: 100%; }
        main .main-003__topdiv ul li:last-child {
          width: calc(100% - 124px);
          font-family: "NotoSansCJKjp-Medium", sans-serif;
          font-weight: 400;
          font-size: 16px;
          margin-top: 20px; }
      main .main-003__topdiv p {
        margin-top: 40px;
        text-align: center;
        font-family: "NotoSansCJKjp-Light", sans-serif;
        font-weight: 400;
        font-size: 20px; }
        main .main-003__topdiv p .big {
          font-size: 24px; }
        main .main-003__topdiv p .red {
          font-family: "NotoSansCJKjp-Medium", sans-serif;
          font-weight: 400;
          font-size: 24px;
          color: #c1272d; }
    main .main-003__arrow {
      width: 100%;
      max-width: 28px;
      margin: auto;
      margin-top: 40px; }
    main .main-003__middlelist {
      display: flex;
      justify-content: space-around;
      max-width: 1020px;
      margin: auto;
      margin-top: 50px; }
      main .main-003__middlelist li {
        width: calc(100% / 3)-26.6666666667px;
        margin-right: 40px;
        position: relative; }
        main .main-003__middlelist li img {
          width: 100%; }
        main .main-003__middlelist li p {
          position: absolute;
          bottom: 40px;
          left: 50%;
          transform: translate(-50%, 0);
          text-align: center;
          font-family: "NotoSansCJKjp-Medium", sans-serif;
          font-weight: 400;
          font-size: 18px;
          color: #FFFFFF;
          width: calc(100% - 10px);
          letter-spacing: 0; }
      main .main-003__middlelist li:last-child {
        margin-right: 0; }
    main .main-003__img {
      margin: auto;
      margin-top: 100px;
      max-width: 1020px; }
  main .main-004 {
    background-color: #333333;
    width: 100%;
    position: relative;
    padding: 100px 0 60px;
    margin-top: 60px; }
    main .main-004 h3 {
      color: #FFFFFF;
      font-family: "NotoSansCJKjp-Light", sans-serif;
      font-weight: 400;
      font-size: 30px;
      text-align: center; }
      main .main-004 h3 span {
        font-family: "NotoSansCJKjp-Bold", sans-serif; }
    main .main-004 h2 {
      margin-top: 10px;
      color: #FFFFFF;
      font-family: "NotoSansCJKjp-Light", sans-serif;
      font-weight: 400;
      font-size: 37px;
      text-align: center; }
  main .main-004:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border: 30px solid transparent;
    border-top: 30px solid #FFFFFF; }
  main .main-005 {
    background-image: url("../img/main005_bg.png");
    background-repeat: no-repeat;
    background-position: top 55px center;
    background-size: 100% auto;
    background-color: #f2f2f2;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px; }
    main .main-005 h2 {
      font-family: "NotoSansCJKjp-Medium", sans-serif;
      font-weight: 400;
      font-size: 25px;
      text-align: center; }
    main .main-005 p {
      font-family: "NotoSansCJKjp-Light", sans-serif;
      font-weight: 400;
      font-size: 16px;
      margin-top: 40px;
      text-align: center; }
    main .main-005 ul {
      display: flex;
      justify-content: space-around;
      max-width: 1020px;
      margin: auto;
      margin-top: 10px;
      flex-wrap: wrap; }
      main .main-005 ul li {
        width: calc((100% / 3) - (40px / 3));
        margin-right: 20px;
        position: relative;
        margin-top: 30px; }
        main .main-005 ul li img {
          width: 100%; }
        main .main-005 ul li h4 {
          position: absolute;
          bottom: 100px;
          left: 50%;
          transform: translate(-50%, 0);
          text-align: center;
          font-family: "NotoSansCJKjp-Medium", sans-serif;
          font-weight: 400;
          font-size: 18px;
          width: calc(100% - 10px);
          letter-spacing: 0; }
        main .main-005 ul li p {
          position: absolute;
          bottom: 40px;
          left: 50%;
          transform: translate(-50%, 0);
          text-align: center;
          font-family: "NotoSansCJKjp-Light", sans-serif;
          font-weight: 400;
          font-size: 14px;
          width: calc(100% - 10px);
          letter-spacing: 0; }
      main .main-005 ul li:nth-child(3n) {
        margin-right: 0; }
  main .main-006 {
    padding: 60px 160px;
    background-color: #333333; }
    main .main-006 h2 {
      font-family: "NotoSansCJKjp-Medium", sans-serif;
      font-weight: 400;
      font-size: 25px;
      text-align: center;
      color: #FFFFFF; }
    main .main-006 p {
      margin-top: 40px;
      font-family: "NotoSansCJKjp-Regular", sans-serif;
      font-weight: 400;
      font-size: 16px;
      text-align: center;
      color: #FFFFFF; }
      main .main-006 p .square {
        padding: 5px 10px;
        display: inline-block;
        border: 1px solid #FFFFFF;
        border-radius: 10px;
        text-align: center;
        font-family: "NotoSansCJKjp-Light", sans-serif;
        font-weight: 400; }
      main .main-006 p .batsu {
        padding-left: 5px; }
    main .main-006 ul {
      max-width: 1020px;
      margin: auto;
      margin-top: 60px; }
      main .main-006 ul li img {
        width: 100%; }
    main .main-006__sliderdiv {
      position: relative;
      max-width: 1020px;
      margin: auto;
      border-radius: 10px;
      background-image: url("../img/main006_bg.png");
      background-repeat: repeat;
      background-position: top 0 left 0;
      background-size: 20px 20px;
      height: 700px; }
      main .main-006__sliderdiv ul li .main-006--img1 {
        width: 100%;
        max-width: 945px;
        margin: auto;
        margin-top: 31.5px; }
      main .main-006__sliderdiv ul li .main-006--img2 {
        width: 100%;
        max-width: 945px;
        margin: auto;
        margin-top: 31.5px; }
      main .main-006__sliderdiv ul li .main-006--img3 {
        width: 100%;
        max-width: 906px;
        margin: auto;
        margin-top: 55px; }
      main .main-006__sliderdiv .prev {
        position: absolute;
        left: -26px;
        top: 50%;
        transform: translate(0, -50%);
        width: 52px;
        cursor: pointer; }
      main .main-006__sliderdiv .next {
        position: absolute;
        right: -26px;
        top: 50%;
        transform: translate(0, -50%);
        width: 52px;
        cursor: pointer; }
  main .main-007 {
    padding: 60px 0 80px; }
    main .main-007 h2 {
      font-family: "NotoSansCJKjp-Medium", sans-serif;
      font-weight: 400;
      font-size: 25px;
      text-align: center; }
    main .main-007 p {
      margin-top: 30px;
      font-family: "NotoSansCJKjp-Medium", sans-serif;
      font-weight: 400;
      font-size: 16px;
      text-align: center; }
    main .main-007 ul {
      max-width: 1020px;
      margin: auto;
      margin-top: 60px;
      display: flex;
      justify-content: space-around; }
      main .main-007 ul li {
        width: calc(25% - (45px / 4));
        margin-right: 15px;
        background-color: #f2f2f2;
        padding-bottom: 20px; }
        main .main-007 ul li h3 {
          font-family: "Ubuntu-Regular", sans-serif;
          font-weight: 400;
          font-size: 16px;
          text-align: center;
          margin-top: 30px;
          color: #333333; }
        main .main-007 ul li .img1 {
          width: 100%;
          max-width: 32px;
          margin: auto;
          margin-top: 30px; }
        main .main-007 ul li .img2 {
          width: 100%;
          max-width: 79px;
          margin: auto;
          margin-top: 30px; }
        main .main-007 ul li .img3 {
          width: 100%;
          max-width: 123px;
          margin: auto;
          margin-top: 30px; }
        main .main-007 ul li .img4 {
          width: 100%;
          max-width: 174px;
          margin: auto;
          margin-top: 30px; }
        main .main-007 ul li h4 {
          font-family: "NotoSansCJKjp-Bold", sans-serif;
          font-weight: 400;
          font-size: 13px;
          text-align: center;
          margin: auto;
          margin-top: 40px;
          color: #333333; }
        main .main-007 ul li p {
          font-family: "NotoSansCJKjp-Regular", sans-serif;
          font-weight: 400;
          font-size: 12px;
          text-align: left;
          margin: auto;
          margin-top: 30px;
          width: calc(100% - 40px);
          line-height: 1.6em; }
      main .main-007 ul .ptn3 h4, main .main-007 ul .ptn4 h4 {
        margin-top: 25px; }
      main .main-007 ul .ptn3 p, main .main-007 ul .ptn4 p {
        margin-top: 25px; }
      main .main-007 ul li:last-child {
        margin-right: 0; }
  main .main-008 {
    padding: 60px 0 40px;
    background-color: #f2f2f2; }
    main .main-008 h2 {
      font-family: "NotoSansCJKjp-Medium", sans-serif;
      font-weight: 400;
      font-size: 25px;
      text-align: center;
      letter-spacing: 0.2em; }
    main .main-008 ul {
      max-width: 1020px;
      margin: auto;
      margin-top: 20px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap; }
      main .main-008 ul li {
        width: calc(50% - 20px);
        margin-right: 40px;
        margin-top: 40px;
        padding: 40px;
        box-sizing: border-box;
        background-color: #FFFFFF; }
        main .main-008 ul li h4 {
          font-family: "Ubuntu-Bold", sans-serif;
          font-weight: 400;
          font-size: 14px;
          text-align: center;
          color: #25959b;
          background-color: #f2f2f2;
          padding: 10px 0;
          width: 140px;
          border-radius: 20px;
          margin: auto; }
        main .main-008 ul li h3 {
          font-family: "NotoSansCJKjp-Bold", sans-serif;
          font-weight: 400;
          font-size: 24px;
          text-align: center;
          margin-top: 30px;
          font-weight: 400;
          letter-spacing: 0em; }
        main .main-008 ul li p {
          font-family: "NotoSansCJKjp-Light", sans-serif;
          font-weight: 400;
          font-size: 14px;
          margin-top: 30px;
          letter-spacing: 0em; }
        main .main-008 ul li img {
          margin-top: 30px;
          width: 100%; }
      main .main-008 ul li:nth-child(2n) {
        margin-right: 0; }
  main .main-009 {
    padding: 60px 0 90px;
    background-color: #333333; }
    main .main-009 h2 {
      font-family: "NotoSansCJKjp-Medium", sans-serif;
      font-weight: 400;
      font-size: 25px;
      text-align: center;
      color: #FFFFFF;
      letter-spacing: 0.2em; }
    main .main-009 ul {
      max-width: 1020px;
      margin: auto;
      margin-top: 60px;
      display: flex;
      justify-content: space-around; }
      main .main-009 ul li {
        width: calc(20% - 12px);
        margin-right: 15px;
        padding: 30px 20px;
        box-sizing: border-box;
        background-color: #FFFFFF; }
        main .main-009 ul li h4 {
          font-family: "Ubuntu-Bold", sans-serif;
          font-weight: 400;
          font-size: 14px;
          text-align: center;
          letter-spacing: .2em;
          color: #25959b; }
        main .main-009 ul li .img1 {
          height: 51px;
          margin: auto;
          margin-top: 30px; }
        main .main-009 ul li .img2 {
          height: 43px;
          margin: auto;
          margin-top: 34px;
          margin-bottom: 4px; }
        main .main-009 ul li .img3 {
          height: 47px;
          margin: auto;
          margin-top: 32px;
          margin-bottom: 2px; }
        main .main-009 ul li .img4 {
          height: 49px;
          margin: auto;
          margin-top: 31px;
          margin-bottom: 1px; }
        main .main-009 ul li .img5 {
          height: 47px;
          margin: auto;
          margin-top: 32px;
          margin-bottom: 2px; }
        main .main-009 ul li h3 {
          font-family: "NotoSansCJKjp-Medium", sans-serif;
          font-weight: 400;
          font-size: 16px;
          text-align: center;
          margin-top: 30px; }
        main .main-009 ul li p {
          font-family: "NotoSansCJKjp-Light", sans-serif;
          font-weight: 400;
          font-size: 12px;
          text-align: left;
          margin-top: 40px;
          letter-spacing: 0em; }
  main .main-010 {
    padding: 60px 0;
    		/*.main-010__btn.hv:hover{
    			filter: alpha(opacity=100);
    			opacity: 1;
    			transition: opacity 0.5s 0s ease-out;
    			-webkit-transition: opacity 0.5s 0s ease-out;
    			-o-transition: opacity 0.5s 0s ease-out;
    			height: 70px;
    
    			img{
    				margin: auto;
    				max-width: 276px * 0.9;
    				filter: alpha(opacity=100);
    				opacity: 1;
    				transition: opacity 0.5s 0s ease-out;
    				-webkit-transition: opacity 0.5s 0s ease-out;
    				-o-transition: opacity 0.5s 0s ease-out;
    			}
    		}*/
    		/*.main-010__btn2:hover{
    			filter: alpha(opacity=100);
    			opacity: 1;
    			transition: opacity 0.5s 0s ease-out;
    			-webkit-transition: opacity 0.5s 0s ease-out;
    			-o-transition: opacity 0.5s 0s ease-out;
    
    			img{
    				margin: auto;
    				max-width: 354px * 0.9;
    				filter: alpha(opacity=100);
    				opacity: 1;
    				transition: opacity 0.5s 0s ease-out;
    				-webkit-transition: opacity 0.5s 0s ease-out;
    				-o-transition: opacity 0.5s 0s ease-out;
    			}
    		}*/ }
    main .main-010 .red {
      font-family: "NotoSansCJKjp-Light", sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #c1272d; }
    main .main-010 h2 {
      font-family: "NotoSansCJKjp-Medium", sans-serif;
      font-weight: 400;
      font-size: 25px;
      text-align: center; }
    main .main-010 h3 {
      font-family: "NotoSansCJKjp-Medium", sans-serif;
      font-weight: 400;
      font-size: 16px;
      text-align: center;
      margin-top: 30px;
      letter-spacing: 0; }
    main .main-010 p {
      font-family: "NotoSansCJKjp-Light", sans-serif;
      font-weight: 400;
      font-size: 14px;
      text-align: center;
      margin-top: 20px; }
    main .main-010 dl {
      width: 100%;
      max-width: 600px;
      margin: auto;
      padding: 0; }
      main .main-010 dl dt {
        margin: 0;
        margin-top: 40px;
        padding: 0;
        font-family: "NotoSansCJKjp-Medium", sans-serif;
        font-weight: 400;
        font-size: 14px; }
      main .main-010 dl dd {
        margin: 0;
        padding: 0;
        font-family: "NotoSansCJKjp-Medium", sans-serif;
        font-weight: 400;
        font-size: 14px;
        margin-top: 10px;
        /*.cb1span:hover::before{
        	@include cbDefColor_hover;
        }*/
        /*Safariだけに適用されるCSSハック*/ }
        main .main-010 dl dd input[type="text"], main .main-010 dl dd input[type="email"], main .main-010 dl dd input[type="tel"] {
          border-radius: 2px;
          border: 1px solid #d5d5d5;
          background-color: #f2f2f2;
          height: 50px;
          width: 100%;
          padding-left: 5px;
          padding-right: 5px;
          font-family: "NotoSansCJKjp-Light", sans-serif;
          font-weight: 400;
          font-size: 16px;
          outline: none !important;
          box-sizing: border-box;
          -webkit-appearance: none; }
        main .main-010 dl dd textarea {
          resize: vertical;
          width: 100%;
          height: 200px;
          border-radius: 2px;
          border: 1px solid #d5d5d5;
          background-color: #f2f2f2;
          padding-left: 5px;
          padding-right: 5px;
          font-family: "NotoSansCJKjp-Light", sans-serif;
          font-weight: 400;
          font-size: 16px;
          outline: none !important;
          box-sizing: border-box;
          -webkit-appearance: none; }
        main .main-010 dl dd label {
          display: block;
          font-family: "NotoSansCJKjp-Light", sans-serif;
          font-weight: 400;
          font-size: 14px;
          margin-top: 20px;
          margin-left: 23px; }
        main .main-010 dl dd label:first-child {
          margin-top: 0; }
        main .main-010 dl dd input[type="checkbox"].cb1 {
          display: none; }
        main .main-010 dl dd .cb1span {
          position: relative;
          cursor: pointer; }
        main .main-010 dl dd .cb1span::before {
          content: "";
          display: block;
          position: absolute;
          width: 16px;
          height: 16px;
          border-radius: 2px;
          border: 1px solid #d5d5d5;
          background-color: #f2f2f2;
          top: 2px;
          left: -24px; }
        main .main-010 dl dd .cb1span.disabled::before {
          border: 2px solid #f5f5f5; }
        main .main-010 dl dd .cb1span.disabledGrey::before {
          border: 2px solid #777777; }
        main .main-010 dl dd input[type="checkbox"].cb1:checked + .cb1span {
          color: #FFF; }
        main .main-010 dl dd input[type="checkbox"].cb1:checked + .cb1span::before {
          border: 1px solid #d5d5d5;
          background-color: #f2f2f2; }
        main .main-010 dl dd input[type="checkbox"].cb1:checked + .cb1span::after {
          content: "";
          display: block;
          position: absolute;
          width: 6px;
          height: 9px;
          transform: rotate(45deg);
          border-bottom: 2px solid #25959b;
          border-right: 2px solid #25959b;
          top: 3px;
          left: -19px; }
        main .main-010 dl dd input[type="radio"].radio1 {
          display: none; }
        main .main-010 dl dd .radio1span {
          position: relative;
          cursor: pointer; }
        main .main-010 dl dd .radio1span::before {
          content: "";
          display: block;
          position: absolute;
          width: 14px;
          height: 14px;
          background-color: #f2f2f2;
          border-radius: 50%;
          border: 2px solid #d5d5d5;
          top: 2px;
          left: -24px; }
        main .main-010 dl dd input[type="radio"].radio1:checked + .radio1span {
          color: #FFF; }
        main .main-010 dl dd input[type="radio"].radio1:checked + .radio1span::after {
          content: "";
          display: block;
          position: absolute;
          width: 6px;
          height: 6px;
          border: 2px solid  #25959b;
          background-color: #25959b;
          border-radius: 50%;
          top: 6px;
          left: -19.25px; }
@-moz-document url-prefix() {
  main .main-010 dl dd .cb1span::before {
    top: 0px; }
  main .main-010 dl dd input[type="checkbox"].cb1:checked + .cb1span::after {
    top: 2px; } }
        @media screen and (-webkit-min-device-pixel-ratio: 0) {
          main .main-010 dl dd input[type="radio"].radio1:checked + .radio1span::after {
            left: -20px; } }
        main .main-010 dl dd a {
          text-decoration: underline;
          font-family: "NotoSansCJKjp-Light", sans-serif;
          font-weight: 400;
          font-size: 14px;
          color: #25959b; }
    main .main-010 .main-010__btn {
      display: block;
      width: 100%;
      max-width: 276px;
      margin: auto;
      margin-top: 70px;
      cursor: pointer; }
      main .main-010 .main-010__btn img {
        width: 100%;
        opacity: 1; }
    main .main-010 .main-010__btn.disabled {
      display: block;
      width: 100%;
      max-width: 276px;
      margin: auto;
      margin-top: 70px;
      cursor: default;
      height: 70px; }
      main .main-010 .main-010__btn.disabled img {
        width: 100%;
        opacity: 0.5; }
    main .main-010 .main-010__btn.disabled:hover {
      filter: alpha(opacity=50);
      opacity: .5;
      transition: none;
      -webkit-transition: none;
      -o-transition: none;
      height: 70px; }
      main .main-010 .main-010__btn.disabled:hover img {
        margin: auto;
        filter: alpha(opacity=100);
        opacity: 1;
        transition: none;
        -webkit-transition: none;
        -o-transition: none; }
    main .main-010 .main-010__btn2 {
      display: block;
      width: 100%;
      max-width: 354px;
      margin: auto;
      margin-top: 70px;
      height: 70px; }
      main .main-010 .main-010__btn2 img {
        width: 100%; }
    main .main-010 .main-010__btn3 {
      display: block;
      width: 100%;
      max-width: 131px;
      margin: auto;
      margin-top: 30px;
      height: 70px; }
      main .main-010 .main-010__btn3 img {
        width: 100%; }
  main .main-011 {
    		/*.main-011__btn:hover{
    			filter: alpha(opacity=100);
    			opacity: 1;
    			transition: opacity 0.5s 0s ease-out;
    			-webkit-transition: opacity 0.5s 0s ease-out;
    			-o-transition: opacity 0.5s 0s ease-out;
    
    			img{
    				margin: auto;
    				max-width: 274px * 0.9;
    				filter: alpha(opacity=100);
    				opacity: 1;
    				transition: opacity 0.5s 0s ease-out;
    				-webkit-transition: opacity 0.5s 0s ease-out;
    				-o-transition: opacity 0.5s 0s ease-out;
    			}
    		}*/ }
    main .main-011 h2 {
      font-family: "NotoSansCJKjp-Medium", sans-serif;
      font-weight: 400;
      font-size: 25px;
      text-align: center;
      margin-top: 120px; }
    main .main-011 p {
      font-family: "NotoSansCJKjp-Medium", sans-serif;
      font-weight: 400;
      font-size: 16px;
      text-align: center;
      margin-top: 30px; }
    main .main-011 .main-011__btn {
      display: block;
      width: 100%;
      max-width: 274px;
      margin: auto;
      margin-top: 70px; }
      main .main-011 .main-011__btn img {
        width: 100%; }

footer {
  margin-top: 70px;
  padding: 50px 0;
  background-color: #333333; }
  footer .footer-inner {
    width: 100%;
    max-width: 1360px;
    min-width: 1020px;
    margin: auto; }
  footer .footer-top {
    display: flex;
    justify-content: center;
    margin: auto; }
    footer .footer-top a {
      display: block;
      color: #FFFFFF;
      font-family: "NotoSansCJKjp-Medium", sans-serif;
      font-weight: 400;
      font-size: 12px;
      margin-right: 50px; }
    footer .footer-top a:last-child {
      margin-right: 0; }
  footer p {
    color: #FFFFFF;
    font-family: "NotoSansCJKjp-Light", sans-serif;
    font-weight: 400;
    font-size: 10px;
    text-align: center;
    margin-top: 50px; }
