@charset "UTF-8";
// Sass Document　レイアウト設定

//original設定
@import '_variables';
@import '_mixin';

@media screen and (max-width: 768px){
	header{
		nav{
			display: block;

			.header-navlogo{
				margin-top: 30px;
				margin-left: 20px;
				width: 196px;
			}

			ul{
				display: block;
				margin-right: 0;
				li{
					font-size: $font-sizeM + 1px;
					font-family: $fontFamily8;
					text-align: center;
					a{
						display: inline-block;
						height: auto;
						line-height: 17px;
						position: relative;
						padding-top: 30px;
						padding-bottom: 30px;
					}
					a::after {

						bottom: 20px;
						left: 0;
					}
				}
			}

		}
		.header-dlbtn{
			width: calc(100% - 40px);
			max-width: 311px;
			margin: auto;
			margin-top: 120px;
			img{
				width: 100%;
			}

		}
	}
	
	main{
		display: block;
		.main-inner{
			min-width: auto;
		}
		.main_btn1{
			display: block;
			background-color: none;
			width: calc(100% - 40px);
			max-width: 311px;
			margin: auto;
			margin-top: 30px;
			padding: 0 0;
			img{
				width: 100%;
				max-width: auto;
				margin: auto;
			}
		}

		.main-001{
			//max-width: $displaySPMaxsize;
			height: auto;
			background-image: url("../img/sp/main001_bg.jpg");
			background-repeat: no-repeat;
			background-position: top 0 center;
			background-size: 100% auto;

			box-sizing: border-box;
			display: block;

			padding-top: 30px;

			&__right{
				width: calc(100% - 40px);
				max-width: $displaySPMaxsize - 40px;
				margin: auto;

				box-sizing: border-box;
				
				padding: 50px 15px 15px 15px;
				filter: drop-shadow(0px 0px 6px rgba(0,0,0,.4));
				
				&--img1{
					width: 100%;
					margin: auto;
				}
				&--img1_1{
					position: absolute;
					width: 11%;
					top:3%;
					left: 81%;
				}
				&--img1_2{
					position: absolute;
					width: 38%;
					top:26%;
					left: 58%;
				}

				&--img2_1{
					position: absolute;
					width: 15%;
					top:49%;
					left: 37%;
				}

				&--img2_2{
					position: absolute;
					width: 15%;
					top:73%;
					left: 24%;
				}

				&--img3_1{
					position: absolute;
					width: 8%;
					top:29%;
					left: 35%;
				}

				&--img3_2{
					position: absolute;
					width: 37%;
					top:49%;
					left: 5%;
				}

				&--img4_1{
					position: absolute;
					width: 15%;
					top:24%;
					left: 20%;
				}
				&--img4_2{
					position: absolute;
					width: 12%;
					top:38%;
					left: 21%;
				}
				&--img5_1{
					position: absolute;
					width: 12%;
					top:24%;
					left: 9%;
				}
				&--img5_2{
					position: absolute;
					width: 7%;
					top:40%;
					left: 19%;
				}


				&--img6_1{
					position: absolute;
					width: 10%;
					top:53%;
					left: 11%;
				}
				&--img6_2{
					position: absolute;
					width: 10%;
					top:57%;
					left: 20%;

				}

				&--img3{
					position: absolute;
					width: calc(98% - 30px);
					top:26%;
					left: 5%;
				}

				&--img4{
					position: absolute;
					width: calc(89% - 30px);;
					top:1.5%;
					left: 10.5%;

				}
			}

			&__left{
				background-color: #FFFFFF;
				width: calc(100% - 40px);
				margin: auto;

				h2{
					text-align: center;
					width: 250px;
					margin: auto;
					font-family: $fontFamily9;
					font-size: $font-sizeM;
					font-weight: 400;
					color: #1d5554;
					border: 1px solid #92cacd;
					padding: 10px 5px;
					letter-spacing: 0.3em;
					margin-top: 40px;
				}

				h1{
					text-align: center;
					margin: auto;
					font-family: $fontFamily6;
					font-weight: 400;
					font-size: $font-sizeXXXL + 7px;
					margin-top: 20px;
				}

				&__btn{
					width: calc(100% - 40px);
					max-width: $displaySPMaxsize - 40px;
					margin: auto;
					max-width: 311px;
					margin: auto;
					margin-top: 20px;
					img{
						width: 100%;
					}
				}
			}
		}

		.main-002{
			background-color: #333333;
			width: 100%;
			padding-top: 35px;
			padding-bottom: 30px;
			margin-top: 40px;
			box-sizing: border-box;
			&__rupi{
				left: calc(50% - 20px);
			}
			h2{
				font-size: $font-sizeL + 1px;
				width: 250px;
			}

			h2:before{
				content: "";
				background-image: url("../img/sp/main002_left.png");
				background-repeat: no-repeat;
				background-position: center;
				background-size: 27px 76px;
				width: 27px;
				height: 76px;
				top: 5px;
				left: -22px;
			}
			h2:after{
				content: "";
				background-image: url("../img/sp/main002_right.png");
				background-repeat: no-repeat;
				background-position: center;
				background-size: 27px 76px;
				width: 27px;
				height: 76px;
				top: 5px;
				right: -22px;
			}


			ul{
				display: block;
				width: calc(100% - 40px);
				max-width: $displaySPMaxsize - 40px;
				margin: auto;
				margin-top: 30px;
				li{
					width: 100%;
					border-left: none;
					border-bottom: 1px solid#666666;
					padding: 20px 0;
					text-align: center;
					color: #FFFFFF;
				}
				li:last-child{
					border-right: none;
					border-bottom: none;
				}
			}

			&__listtop{
				font-size: $font-sizeL;
			}

			&__listtopdiv{
				width: 100%;
				max-width: 78px;
				margin: auto;
				img{
					width:100%;
				}
			}

			&__listbottom{
				font-size: $font-sizeXXXL;

				span{
					font-size: $font-sizeXXXL + 3px;
				}
			}

			.fs20{
				font-size: $font-sizeL;
			}
		}

		.main-003{
			background-image: url("../img/main003_bg.png");
			background-repeat: no-repeat;
			background-position: top 120px center;
			background-size: 100% auto;
			position: relative;
			box-sizing: border-box;
			
			h3{
				margin-top: 40px;
				font-family: $fontFamily9;
				font-weight: 400;
				font-size: $font-sizeXXXL + 1px;
				text-align: center;
				letter-spacing: 0.2em;

			}
			h2{
				margin-top: 40px;
				font-family: $fontFamily8;
				font-weight: 400;
				font-size: $font-sizeL + 1px;
				text-align: center;
				letter-spacing: 0.05em;

				.small{
					font-size: $font-sizeXXXL + 5px;
				}
				span.big{
					font-size: $font-sizeXL + 1px;
				}
				span.grey{
					color:#cccccc;
				}
			}

			&__topdiv{
				margin: auto;
				margin-top: 40px;
				padding: 30px 20px;
				box-sizing: border-box;
				background-color: #f2f2f2;
				width: 100%;

				h4{
					max-width: 296px;
					width: 100%;
				}

				ul{
					width: 100%;
					max-width: $displaySPMaxsize - 60px;
					margin: auto;
					display: block;
					li:first-child{
						width: 100%;
						img{
							max-width: 104px;
							width: 100%;
							margin:auto;
							margin-top: 20px;
							margin-left: calc(50% - 72px);
						}
					}

					li:last-child{
						width: 100%;
					}
				}

				p{
					width: 100%;
					max-width: $displaySPMaxsize - 40px;
					margin: auto;
					margin-top: 20px;
					font-size: $font-sizeM;
					letter-spacing: 0;


					.big{
						font-size: $font-sizeXL;
					}
					.red{
						font-size: $font-sizeL;
					}
				}
			}

			&__arrow{
				width: 100%;
				max-width: 28px;
				margin: auto;
				margin-top: 30px;
			}

			&__middlelist{
				display: block;
				width: calc(100% - 40px);
				max-width: 311px;
				margin-top: 10px;
				li{
					width: 100%;
					margin-right: 0;
					margin-top: 20px;

					img{
						width: 100%;
					}
					p{
						top: 50%;
						bottom: auto;
						left: 95px;
						transform: translate(0,-50%);
						text-align: left;
						font-size: $font-sizeXS + 1px;
						width: calc(100% - 10px);
					}
				}

				li:last-child{
					margin-right: 0;
				}
			}

			&__img{
				margin: auto;
				margin-top: 30px;
				width: calc(100% - 40px);
				max-width: 311px;
			}
		}


		.main-004{
			padding: 50px 0 30px;
			margin-top: 30px;

			h3{
				font-size: $font-sizeL;
				span{
					font-family: $fontFamily6;
				}
			}
			h2{
				margin-top: 10px;
				font-size: $font-sizeXL + 1px;
			}
		}

		.main-004:before{
			content: "";
			position: absolute;
			top: 0px;
			left: 50%;
			transform: translate(-50%,0);
			width: 0;
			height: 0;
			border: 30px solid transparent;
			border-top: 30px solid #FFFFFF;
		}

		.main-005{
			background: none;
			background-color: #f2f2f2;
			width: 100%;

			padding-top:30px;
			padding-bottom: 30px;


			ul{
				width: calc(100% - 40px);
				max-width: $displaySPMaxsize - 40px;
				margin: auto;
				margin-top: 10px;
				
				li{
					width: calc(100% / 2 - 10px);
					margin-right: 20px;
					position: relative;
					margin-top: 20px;
					
					img{
						width:100%;
					}
					h4{
						position: absolute;
						bottom: 20px;
						left: 50%;
						transform: translate(-50%,0);
						text-align: center;
						font-family: $fontFamily9;
						font-weight: 400;
						font-size: $font-sizeM;
						width: calc(100% - 10px);
						letter-spacing: 0;
					}
				}

				li:nth-child(3n){
					margin-right: 20px;
				}
				li:nth-child(2n){
					margin-right: 0;
				}
			}

		}

		.main-006{
			padding: 30px 20px 80px 20px;
			background-color: #333333;

			h2{
				letter-spacing: 0;
			}
			p{
				margin-top: 30px;

				.space{
					display: block;
					margin-top: 15px;
				}
				.square{
					padding: 5px 10px;
				}

				.batsu{
					padding-left: 5px;
				}
			}

			ul{
				max-width: 311px;	
				margin: auto;
				margin-top: 30px;

				li{
					img{
						width: 100%;
					}
				}
			}

			&__sliderdiv{
				position: relative;
				max-width: 311px;	
				margin: auto;
				height: 529px;
				ul{

					li{
						.main-006--img1{
							width: 100%;
							max-width: 267px;
							margin: auto;
							margin-top: 15px;
						}
						.main-006--img2{
							width: 100%;
							max-width: 254px;
							margin: auto;
							margin-top: 15px;
						}
						.main-006--img3{
							width: 100%;
							max-width: 263px;
							margin: auto;
							margin-top: 29.5px;
						}
					}
				}
				
				.prev{
					left: -16px;
					width: 32px;
				}

				.next{
					right: -16px;
					width: 32px;
				}
			}
		}

		.main-007{
			padding: 30px 0 30px;
			ul{
				width: calc(100% - 40px);
				max-width: $displaySPMaxsize - 40px;
				margin: auto;
				margin-top: 10px;

				display: flex;
				justify-content: space-around;
				flex-wrap: wrap;

				li{
					width: calc(50% - 10px);
					margin-right: 20px;
					margin-top: 20px;
					h3{
						font-family: $fontFamily16;
						font-weight: 400;
						font-size: $font-sizeXS;
						text-align: center;
						margin-top: 20px;
						color: #333333;
					}
					.img1{
						width: 100%;
						max-width: 32px;
						margin: auto;
						margin-top: 20px;
					}
					.img2{
						width: 100%;
						max-width: 79px;
						margin: auto;
						margin-top: 20px;
					}
					.img3{
						width: 100%;
						max-width: 123px;
						margin: auto;
						margin-top: 20px;
					}
					.img4{
						width: 100%;
						max-width: 174px;
						margin: auto;
						margin-top: 20px;
					}

					h4{
						font-family: $fontFamily6;
						font-weight: 400;
						font-size: $font-sizeXXS;
						text-align: center;
						margin: auto;
						margin-top: 20px;
						color: #333333;
						letter-spacing: 0;
					}
				}
				
				li:nth-child(2){
					margin-right: 0;
				}
				.ptn3,.ptn4{
					width: 100%;
					margin-right: 0;
					h4{
						margin-top: 20px;
					}

					p{
						margin-top: 20px;
					}
				}
				li:last-child{
					margin-right: 0;
				}
			}

		}

		.main-008{
			padding: 30px 0 30px;
			background-color: #f2f2f2;
			ul{
				width: calc(100% - 40px);
				max-width: $displaySPMaxsize - 40px;
				margin: auto;
				margin-top: 20px;

				display: block;

				li{
					width: 100%;
					margin-right: 0;
					margin-top: 20px;

					padding: 15px;

					h3{
						font-size: $font-sizeXL;
						margin-top: 20px;
						letter-spacing: 0;
					}

					p{
						margin-top: 20px;
					}

					img{
						margin-top: 20px;
						width: 100%;
					}
				}
				li:nth-child(2n){
					margin-right: 0;
				}
			}
		}

		.main-009{
			padding: 30px 0 30px;

			background-color: #333333;

			ul{
				width: calc(100% - 40px);
				max-width: $displaySPMaxsize - 40px;
				margin: auto;
				margin-top: 20px;

				display: block;

				li{
					width: 100%;
					margin-right: 0;
					margin-top: 10px;
					padding: 10px 10px;
					display: flex;
					justify-content: flex-start;
					align-items: center;

					h4{
						font-family: $fontFamily13;
						font-weight: 400;
						font-size: $font-sizeS;
						text-align: center;
						letter-spacing: .2em;
						color: #25959b;
						order: 1;
					}

					.img1{
						height: 51px;
						margin: auto;
						margin-top: 0;
						margin-left: 0;
						margin-right: 13px;
						order: 0;
					}

					.img2{
						height:43px;
						margin: auto;
						margin-top: 4px;
						margin-bottom: 4px;
						margin-left: 0;
						margin-right: 10px;
						order: 0;
					}

					.img3{
						height: 47px;
						margin: auto;
						margin-top: 2px;
						margin-bottom: 2px;
						margin-left: 0;
						margin-right: 21px;
						order: 0;
					}

					.img4{
						height: 49px;
						margin: auto;
						margin-top: 1px;
						margin-bottom: 1px;
						margin-left: 0;
						margin-right: 15px;
						order: 0;
					}

					.img5{
						height: 47px;
						margin: auto;
						margin-top: 2px;
						margin-bottom: 2px;
						margin-left: 0;
						margin-right: 18px;
						order: 0;
					}

					h3{
						margin-top: 0;
						margin-left: 10px;
						order: 2;
					}
				}
			}

		}
		.main-010{
			padding: 30px 0;

			dl{
				width: calc(100% - 40px);
				max-width: $displaySPMaxsize - 40px;
				margin: auto;
				padding: 0;

				dt{
					margin: 0;
					margin-top: 40px;
					padding: 0;
					font-family: $fontFamily9;
					font-weight: 400;
					font-size: $font-sizeS;
				}
				dd{
					margin: 0;
					padding: 0;
					font-family: $fontFamily9;
					font-weight: 400;
					font-size: $font-sizeS;
					margin-top: 10px;
					letter-spacing: 0;
					



					a{
						text-decoration: underline;
						font-family: $fontFamily8;
						font-weight: 400;
						font-size: $font-sizeS;
						color: #25959b;

					}
				}
			}
			.main-010__btn2{
				display: block;
				width: 100% ;
				max-width: 276px;
				margin: auto;
				margin-top: 70px;

				img{
					width: 100% ;
				}
			}
		}
	}

	footer{
		margin-top: 40px;
		padding: 50px 0;
		.footer-inner{
			min-width: auto;
		}
	}	
	
}

@media screen and (max-width: 480px){
}

@media screen and (max-width: 360px){
	header{
		.header-dlbtn{
			margin-top: 20px;
			img{
				width: 100%;
			}

		}
	}
	
	main{
		.main-003{

			&__middlelist{
				li{
					p{
						left: 80px;
						font-size: $font-sizeXS - 1px;
					}
				}

				li:last-child{
					margin-right: 0;
				}
			}

		}

		.main-005{
			ul{
				
				li{
					h4{
						font-size: $font-sizeS - 1px;
					}
				}
			}

		}
		
	}
		
}
