@charset "UTF-8";
/*変数*/
/*色の変数*/
/*font*/
/*画面マックスサイズ*/
@media screen and (max-width: 768px) {
  header nav {
    display: block; }
    header nav .header-navlogo {
      margin-top: 30px;
      margin-left: 20px;
      width: 196px; }
    header nav ul {
      display: block;
      margin-right: 0; }
      header nav ul li {
        font-size: 17px;
        font-family: "NotoSansCJKjp-Light", sans-serif;
        text-align: center; }
        header nav ul li a {
          display: inline-block;
          height: auto;
          line-height: 17px;
          position: relative;
          padding-top: 30px;
          padding-bottom: 30px; }
        header nav ul li a::after {
          bottom: 20px;
          left: 0; }
  header .header-dlbtn {
    width: calc(100% - 40px);
    max-width: 311px;
    margin: auto;
    margin-top: 120px; }
    header .header-dlbtn img {
      width: 100%; }

  main {
    display: block; }
    main .main-inner {
      min-width: auto; }
    main .main_btn1 {
      display: block;
      background-color: none;
      width: calc(100% - 40px);
      max-width: 311px;
      margin: auto;
      margin-top: 30px;
      padding: 0 0; }
      main .main_btn1 img {
        width: 100%;
        max-width: auto;
        margin: auto; }
    main .main-001 {
      height: auto;
      background-image: url("../img/sp/main001_bg.jpg");
      background-repeat: no-repeat;
      background-position: top 0 center;
      background-size: 100% auto;
      box-sizing: border-box;
      display: block;
      padding-top: 30px; }
      main .main-001__right {
        width: calc(100% - 40px);
        max-width: 335px;
        margin: auto;
        box-sizing: border-box;
        padding: 50px 15px 15px 15px;
        filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.4)); }
        main .main-001__right--img1 {
          width: 100%;
          margin: auto; }
        main .main-001__right--img1_1 {
          position: absolute;
          width: 11%;
          top: 3%;
          left: 81%; }
        main .main-001__right--img1_2 {
          position: absolute;
          width: 38%;
          top: 26%;
          left: 58%; }
        main .main-001__right--img2_1 {
          position: absolute;
          width: 15%;
          top: 49%;
          left: 37%; }
        main .main-001__right--img2_2 {
          position: absolute;
          width: 15%;
          top: 73%;
          left: 24%; }
        main .main-001__right--img3_1 {
          position: absolute;
          width: 8%;
          top: 29%;
          left: 35%; }
        main .main-001__right--img3_2 {
          position: absolute;
          width: 37%;
          top: 49%;
          left: 5%; }
        main .main-001__right--img4_1 {
          position: absolute;
          width: 15%;
          top: 24%;
          left: 20%; }
        main .main-001__right--img4_2 {
          position: absolute;
          width: 12%;
          top: 38%;
          left: 21%; }
        main .main-001__right--img5_1 {
          position: absolute;
          width: 12%;
          top: 24%;
          left: 9%; }
        main .main-001__right--img5_2 {
          position: absolute;
          width: 7%;
          top: 40%;
          left: 19%; }
        main .main-001__right--img6_1 {
          position: absolute;
          width: 10%;
          top: 53%;
          left: 11%; }
        main .main-001__right--img6_2 {
          position: absolute;
          width: 10%;
          top: 57%;
          left: 20%; }
        main .main-001__right--img3 {
          position: absolute;
          width: calc(98% - 30px);
          top: 26%;
          left: 5%; }
        main .main-001__right--img4 {
          position: absolute;
          width: calc(89% - 30px);
          top: 1.5%;
          left: 10.5%; }
      main .main-001__left {
        background-color: #FFFFFF;
        width: calc(100% - 40px);
        margin: auto; }
        main .main-001__left h2 {
          text-align: center;
          width: 250px;
          margin: auto;
          font-family: "NotoSansCJKjp-Medium", sans-serif;
          font-size: 16px;
          font-weight: 400;
          color: #1d5554;
          border: 1px solid #92cacd;
          padding: 10px 5px;
          letter-spacing: 0.3em;
          margin-top: 40px; }
        main .main-001__left h1 {
          text-align: center;
          margin: auto;
          font-family: "NotoSansCJKjp-Bold", sans-serif;
          font-weight: 400;
          font-size: 31px;
          margin-top: 20px; }
        main .main-001__left__btn {
          width: calc(100% - 40px);
          max-width: 335px;
          margin: auto;
          max-width: 311px;
          margin: auto;
          margin-top: 20px; }
          main .main-001__left__btn img {
            width: 100%; }
    main .main-002 {
      background-color: #333333;
      width: 100%;
      padding-top: 35px;
      padding-bottom: 30px;
      margin-top: 40px;
      box-sizing: border-box; }
      main .main-002__rupi {
        left: calc(50% - 20px); }
      main .main-002 h2 {
        font-size: 19px;
        width: 250px; }
      main .main-002 h2:before {
        content: "";
        background-image: url("../img/sp/main002_left.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 27px 76px;
        width: 27px;
        height: 76px;
        top: 5px;
        left: -22px; }
      main .main-002 h2:after {
        content: "";
        background-image: url("../img/sp/main002_right.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 27px 76px;
        width: 27px;
        height: 76px;
        top: 5px;
        right: -22px; }
      main .main-002 ul {
        display: block;
        width: calc(100% - 40px);
        max-width: 335px;
        margin: auto;
        margin-top: 30px; }
        main .main-002 ul li {
          width: 100%;
          border-left: none;
          border-bottom: 1px solid #666666;
          padding: 20px 0;
          text-align: center;
          color: #FFFFFF; }
        main .main-002 ul li:last-child {
          border-right: none;
          border-bottom: none; }
      main .main-002__listtop {
        font-size: 18px; }
      main .main-002__listtopdiv {
        width: 100%;
        max-width: 78px;
        margin: auto; }
        main .main-002__listtopdiv img {
          width: 100%; }
      main .main-002__listbottom {
        font-size: 24px; }
        main .main-002__listbottom span {
          font-size: 27px; }
      main .main-002 .fs20 {
        font-size: 18px; }
    main .main-003 {
      background-image: url("../img/main003_bg.png");
      background-repeat: no-repeat;
      background-position: top 120px center;
      background-size: 100% auto;
      position: relative;
      box-sizing: border-box; }
      main .main-003 h3 {
        margin-top: 40px;
        font-family: "NotoSansCJKjp-Medium", sans-serif;
        font-weight: 400;
        font-size: 25px;
        text-align: center;
        letter-spacing: 0.2em; }
      main .main-003 h2 {
        margin-top: 40px;
        font-family: "NotoSansCJKjp-Light", sans-serif;
        font-weight: 400;
        font-size: 19px;
        text-align: center;
        letter-spacing: 0.05em; }
        main .main-003 h2 .small {
          font-size: 29px; }
        main .main-003 h2 span.big {
          font-size: 21px; }
        main .main-003 h2 span.grey {
          color: #cccccc; }
      main .main-003__topdiv {
        margin: auto;
        margin-top: 40px;
        padding: 30px 20px;
        box-sizing: border-box;
        background-color: #f2f2f2;
        width: 100%; }
        main .main-003__topdiv h4 {
          max-width: 296px;
          width: 100%; }
        main .main-003__topdiv ul {
          width: 100%;
          max-width: 315px;
          margin: auto;
          display: block; }
          main .main-003__topdiv ul li:first-child {
            width: 100%; }
            main .main-003__topdiv ul li:first-child img {
              max-width: 104px;
              width: 100%;
              margin: auto;
              margin-top: 20px;
              margin-left: calc(50% - 72px); }
          main .main-003__topdiv ul li:last-child {
            width: 100%; }
        main .main-003__topdiv p {
          width: 100%;
          max-width: 335px;
          margin: auto;
          margin-top: 20px;
          font-size: 16px;
          letter-spacing: 0; }
          main .main-003__topdiv p .big {
            font-size: 20px; }
          main .main-003__topdiv p .red {
            font-size: 18px; }
      main .main-003__arrow {
        width: 100%;
        max-width: 28px;
        margin: auto;
        margin-top: 30px; }
      main .main-003__middlelist {
        display: block;
        width: calc(100% - 40px);
        max-width: 311px;
        margin-top: 10px; }
        main .main-003__middlelist li {
          width: 100%;
          margin-right: 0;
          margin-top: 20px; }
          main .main-003__middlelist li img {
            width: 100%; }
          main .main-003__middlelist li p {
            top: 50%;
            bottom: auto;
            left: 95px;
            transform: translate(0, -50%);
            text-align: left;
            font-size: 13px;
            width: calc(100% - 10px); }
        main .main-003__middlelist li:last-child {
          margin-right: 0; }
      main .main-003__img {
        margin: auto;
        margin-top: 30px;
        width: calc(100% - 40px);
        max-width: 311px; }
    main .main-004 {
      padding: 50px 0 30px;
      margin-top: 30px; }
      main .main-004 h3 {
        font-size: 18px; }
        main .main-004 h3 span {
          font-family: "NotoSansCJKjp-Bold", sans-serif; }
      main .main-004 h2 {
        margin-top: 10px;
        font-size: 21px; }
    main .main-004:before {
      content: "";
      position: absolute;
      top: 0px;
      left: 50%;
      transform: translate(-50%, 0);
      width: 0;
      height: 0;
      border: 30px solid transparent;
      border-top: 30px solid #FFFFFF; }
    main .main-005 {
      background: none;
      background-color: #f2f2f2;
      width: 100%;
      padding-top: 30px;
      padding-bottom: 30px; }
      main .main-005 ul {
        width: calc(100% - 40px);
        max-width: 335px;
        margin: auto;
        margin-top: 10px; }
        main .main-005 ul li {
          width: calc(100% / 2 - 10px);
          margin-right: 20px;
          position: relative;
          margin-top: 20px; }
          main .main-005 ul li img {
            width: 100%; }
          main .main-005 ul li h4 {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translate(-50%, 0);
            text-align: center;
            font-family: "NotoSansCJKjp-Medium", sans-serif;
            font-weight: 400;
            font-size: 16px;
            width: calc(100% - 10px);
            letter-spacing: 0; }
        main .main-005 ul li:nth-child(3n) {
          margin-right: 20px; }
        main .main-005 ul li:nth-child(2n) {
          margin-right: 0; }
    main .main-006 {
      padding: 30px 20px 80px 20px;
      background-color: #333333; }
      main .main-006 h2 {
        letter-spacing: 0; }
      main .main-006 p {
        margin-top: 30px; }
        main .main-006 p .space {
          display: block;
          margin-top: 15px; }
        main .main-006 p .square {
          padding: 5px 10px; }
        main .main-006 p .batsu {
          padding-left: 5px; }
      main .main-006 ul {
        max-width: 311px;
        margin: auto;
        margin-top: 30px; }
        main .main-006 ul li img {
          width: 100%; }
      main .main-006__sliderdiv {
        position: relative;
        max-width: 311px;
        margin: auto;
        height: 529px; }
        main .main-006__sliderdiv ul li .main-006--img1 {
          width: 100%;
          max-width: 267px;
          margin: auto;
          margin-top: 15px; }
        main .main-006__sliderdiv ul li .main-006--img2 {
          width: 100%;
          max-width: 254px;
          margin: auto;
          margin-top: 15px; }
        main .main-006__sliderdiv ul li .main-006--img3 {
          width: 100%;
          max-width: 263px;
          margin: auto;
          margin-top: 29.5px; }
        main .main-006__sliderdiv .prev {
          left: -16px;
          width: 32px; }
        main .main-006__sliderdiv .next {
          right: -16px;
          width: 32px; }
    main .main-007 {
      padding: 30px 0 30px; }
      main .main-007 ul {
        width: calc(100% - 40px);
        max-width: 335px;
        margin: auto;
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap; }
        main .main-007 ul li {
          width: calc(50% - 10px);
          margin-right: 20px;
          margin-top: 20px; }
          main .main-007 ul li h3 {
            font-family: "Ubuntu-Regular", sans-serif;
            font-weight: 400;
            font-size: 12px;
            text-align: center;
            margin-top: 20px;
            color: #333333; }
          main .main-007 ul li .img1 {
            width: 100%;
            max-width: 32px;
            margin: auto;
            margin-top: 20px; }
          main .main-007 ul li .img2 {
            width: 100%;
            max-width: 79px;
            margin: auto;
            margin-top: 20px; }
          main .main-007 ul li .img3 {
            width: 100%;
            max-width: 123px;
            margin: auto;
            margin-top: 20px; }
          main .main-007 ul li .img4 {
            width: 100%;
            max-width: 174px;
            margin: auto;
            margin-top: 20px; }
          main .main-007 ul li h4 {
            font-family: "NotoSansCJKjp-Bold", sans-serif;
            font-weight: 400;
            font-size: 10px;
            text-align: center;
            margin: auto;
            margin-top: 20px;
            color: #333333;
            letter-spacing: 0; }
        main .main-007 ul li:nth-child(2) {
          margin-right: 0; }
        main .main-007 ul .ptn3, main .main-007 ul .ptn4 {
          width: 100%;
          margin-right: 0; }
          main .main-007 ul .ptn3 h4, main .main-007 ul .ptn4 h4 {
            margin-top: 20px; }
          main .main-007 ul .ptn3 p, main .main-007 ul .ptn4 p {
            margin-top: 20px; }
        main .main-007 ul li:last-child {
          margin-right: 0; }
    main .main-008 {
      padding: 30px 0 30px;
      background-color: #f2f2f2; }
      main .main-008 ul {
        width: calc(100% - 40px);
        max-width: 335px;
        margin: auto;
        margin-top: 20px;
        display: block; }
        main .main-008 ul li {
          width: 100%;
          margin-right: 0;
          margin-top: 20px;
          padding: 15px; }
          main .main-008 ul li h3 {
            font-size: 20px;
            margin-top: 20px;
            letter-spacing: 0; }
          main .main-008 ul li p {
            margin-top: 20px; }
          main .main-008 ul li img {
            margin-top: 20px;
            width: 100%; }
        main .main-008 ul li:nth-child(2n) {
          margin-right: 0; }
    main .main-009 {
      padding: 30px 0 30px;
      background-color: #333333; }
      main .main-009 ul {
        width: calc(100% - 40px);
        max-width: 335px;
        margin: auto;
        margin-top: 20px;
        display: block; }
        main .main-009 ul li {
          width: 100%;
          margin-right: 0;
          margin-top: 10px;
          padding: 10px 10px;
          display: flex;
          justify-content: flex-start;
          align-items: center; }
          main .main-009 ul li h4 {
            font-family: "Ubuntu-Bold", sans-serif;
            font-weight: 400;
            font-size: 14px;
            text-align: center;
            letter-spacing: .2em;
            color: #25959b;
            order: 1; }
          main .main-009 ul li .img1 {
            height: 51px;
            margin: auto;
            margin-top: 0;
            margin-left: 0;
            margin-right: 13px;
            order: 0; }
          main .main-009 ul li .img2 {
            height: 43px;
            margin: auto;
            margin-top: 4px;
            margin-bottom: 4px;
            margin-left: 0;
            margin-right: 10px;
            order: 0; }
          main .main-009 ul li .img3 {
            height: 47px;
            margin: auto;
            margin-top: 2px;
            margin-bottom: 2px;
            margin-left: 0;
            margin-right: 21px;
            order: 0; }
          main .main-009 ul li .img4 {
            height: 49px;
            margin: auto;
            margin-top: 1px;
            margin-bottom: 1px;
            margin-left: 0;
            margin-right: 15px;
            order: 0; }
          main .main-009 ul li .img5 {
            height: 47px;
            margin: auto;
            margin-top: 2px;
            margin-bottom: 2px;
            margin-left: 0;
            margin-right: 18px;
            order: 0; }
          main .main-009 ul li h3 {
            margin-top: 0;
            margin-left: 10px;
            order: 2; }
    main .main-010 {
      padding: 30px 0; }
      main .main-010 dl {
        width: calc(100% - 40px);
        max-width: 335px;
        margin: auto;
        padding: 0; }
        main .main-010 dl dt {
          margin: 0;
          margin-top: 40px;
          padding: 0;
          font-family: "NotoSansCJKjp-Medium", sans-serif;
          font-weight: 400;
          font-size: 14px; }
        main .main-010 dl dd {
          margin: 0;
          padding: 0;
          font-family: "NotoSansCJKjp-Medium", sans-serif;
          font-weight: 400;
          font-size: 14px;
          margin-top: 10px;
          letter-spacing: 0; }
          main .main-010 dl dd a {
            text-decoration: underline;
            font-family: "NotoSansCJKjp-Light", sans-serif;
            font-weight: 400;
            font-size: 14px;
            color: #25959b; }
      main .main-010 .main-010__btn2 {
        display: block;
        width: 100%;
        max-width: 276px;
        margin: auto;
        margin-top: 70px; }
        main .main-010 .main-010__btn2 img {
          width: 100%; }

  footer {
    margin-top: 40px;
    padding: 50px 0; }
    footer .footer-inner {
      min-width: auto; } }
@media screen and (max-width: 360px) {
  header .header-dlbtn {
    margin-top: 20px; }
    header .header-dlbtn img {
      width: 100%; }

  main .main-003__middlelist li p {
    left: 80px;
    font-size: 11px; }
  main .main-003__middlelist li:last-child {
    margin-right: 0; }
  main .main-005 ul li h4 {
    font-size: 13px; } }
