@charset "UTF-8";
// Sass Document　レイアウト設定

//original設定
@import '_variables';
@import '_mixin';

header{
	width: 100%;
	position: fixed;
	
	top:0;
	left: 0;
	height: 71px;
	border-bottom: 1px solid #000000;

	background-color: #FFFFFF;
	z-index: 10000;
	.header-inner{
		width: 100%;
		//max-width: $displayMaxsize;
		min-width: $displayMinsize;
		margin: auto;
		
		display: flex;
		justify-content: space-between;
	}
	
	.header-title{
		width: 196px;
		margin-left: 40px;
		img{
			margin-top: 14px;
			margin-bottom: 14px;
			width: 100%;
		}
	}
	
	nav{
		display: flex;
		justify-content: flex-end;
		
		
		ul{
			display: flex;
			justify-content: flex-start;
			margin-right: 40px;
			li{
				font-size: $font-sizeXS + 1px;
				font-family: $fontFamily8;
				font-weight: 400;
				a{
					display: block;
					height: 71px;
					line-height: 71px;
					position: relative;
					padding-left: 10px;
					padding-right: 10px;
				}
				a::after {
					position: absolute;
					bottom: 0px;
					left: 0;
					content: '';
					width: 100%;
					height: 2px;
					/*background: #E083A5;*/
					background: #000000;
					transform: scale(0, 1);
					transform-origin: left top;
					transition: transform .3s;
				}
				a:hover::after {
				  transform: scale(1, 1);
				}
			}
		}
		
	}
	.header-dlbtn{
		width: 276px;
		img{
			width: 100%;
		}

	}

}

.spacer{
	height: 71px;
}


main{
	display: block;
	
	min-height: calc(100vh - 444px);
	.main-inner{
		width: 100%;
		//max-width: $displayMaxsize;
		min-width: $displayMinsize;
		margin: auto;
	}
	.main_btn1{
		display: block;
		background-color: #006b67;
		max-width: $displayMinsize;
		margin: auto;
		margin-top: 40px;
		padding: 40px 0;
		img{
			width: 100%;
			max-width: 447px;
			margin: auto;
		}
	}
	
	.main-001{
		width: 100%;
		//max-width: $displayMaxsize;
		margin: auto;
		height: 529px;
		background-image: url("../img/main001_bg.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		position: relative;
		margin-top: 1px;
		
		display: flex;
		
		justify-content:center;
		
		
		&__left{
			background-color: #FFFFFF;
			width: 512px;
			order: 1;
			h2{
				text-align: center;
				width: 311px;
				margin: auto;
				font-family: $fontFamily9;
				font-size: $font-sizeXL;
				font-weight: 400;
				color: #1d5554;
				border: 1px solid #92cacd;
				padding: 15px 10px;
				letter-spacing: 0.3em;
				margin-top: 60px;
			}
			
			h1{
				text-align: center;
				margin: auto;
				font-family: $fontFamily6;
				font-weight: 400;
				font-size: 42px;
				margin-top: 50px;
			}
			
			&__btn{
				width: 100%;
				max-width: 412px;
				margin: auto;
				margin-top: 70px;
				img{
					width: 100%;
				}
			}
		}
		
		&__right{
			order: 2;
			background-color: #FFFFFF;
			align-self: center;
			position: relative;
			padding: 90px 20px 20px 20px;
			margin-left: -20px;
			filter: drop-shadow(0px 0px 6px rgba(0,0,0,.4));
			&--img1{
				width: 491px;
			}
			
			&--img1_1{
				position: absolute;
				width: 65px;
				top:25px;
				left: 430px;

			}
			&--img1_2{
				position: absolute;
				width: 190px;
				top:140px;
				left: 310px;
			}
			
			&--img2_1{
				position: absolute;
				width: 89px;
				top:215px;
				left: 207px;
			}
			
			&--img2_2{
				position: absolute;
				width: 90px;
				top:340px;
				left: 125px;
			}
			
			&--img3_1{
				position: absolute;
				width: 47px;
				top:145px;
				left: 185px;
			}
			
			&--img3_2{
				position: absolute;
				width: 193px;
				top:245px;
				left: 35px;
			}
			
			&--img4_1{
				position: absolute;
				width: 91px;
				top:110px;
				left: 110px;
			}
			&--img4_2{
				position: absolute;
				width: 69px;
				top:185px;
				left: 110px;
			}
			&--img5_1{
				position: absolute;
				width: 73px;
				top:127px;
				left: 42px;
			}
			&--img5_2{
				position: absolute;
				width: 33px;
				top:205px;
				left: 100px;
			}
			
			
			&--img6_1{
				position: absolute;
				width: 49px;
				top:260px;
				left: 67px;
			}
			&--img6_2{
				position: absolute;
				width: 60px;
				top:275px;
				left: 110px;
			}
			

			
			&--img3{
				position: absolute;
				width: 482px;
				top:135px;
				left: 25px;
				animation: loading 1.2s infinite ease-in-out both;
			}
			
			&--img4{
				position: absolute;
				width: 437px;
				top:19px;
				left: 55px;
				animation: loading 1.2s infinite ease-in-out both;
				
			}
		}
	}
	
	.main-002{
		background-color: #333333;
		width: 100%;
		position: relative;
		padding-top: 35px;
		padding-bottom: 20px;
		&__rupi{
			font-family: $fontFamily8;
			font-weight: 400;
			font-size: $font-sizeXXS;
			position: absolute;
			color: #FFFFFF;
			top:-9px;
			left: calc(50% - 300px);
			transform: translate(-50%,0);
			letter-spacing: 0.2em;
		}
		h2{
			position: relative;
			font-family: $fontFamily9;
			font-weight: 400;
			font-size: $font-sizeXXXL + 1px;
			text-align: center;
			color: #FFFFFF;
			width: 859px;
			margin: auto;
			letter-spacing: 0.11em;
		}
		
		h2:before{
			content: "";
			background-image: url("../img/main002_left.png");
			background-repeat: no-repeat;
			background-position: center;
			background-size: 17px 46px;
			width: 17px;
			height: 46px;
			position: absolute;
			top: -10px;
			left: -18px;
		}
		h2:after{
			content: "";
			background-image: url("../img/main002_right.png");
			background-repeat: no-repeat;
			background-position: center;
			background-size: 17px 46px;
			width: 17px;
			height: 46px;
			position: absolute;
			top: -10px;
			right: -18px;
		}
		
		
		ul{
			display: flex;
			justify-content: center;
			margin-top: 20px;
			li{
				width: 330px;
				border-left: 1px solid#666666;
				padding: 10px 0;
				text-align: center;
				color: #FFFFFF;
			}
			li:last-child{
				border-right: 1px solid#666666;
			}
		}
		
		&__listtop{
			position: relative;
			font-family: $fontFamily8;
			font-weight: 400;
			font-size: $font-sizeXL;
			text-align: center;
		}
		
		&__listtopdiv{
			width: 100%;
			max-width: 78px;
			margin: auto;
			img{
				width:100%;
			}
		}
		
		&__listbottom{
			margin-top: 10px;
			font-family: $fontFamily8;
			font-weight: 400;
			font-size: $font-sizeXXXL + 3px;
			text-align: center;
			
			span{
				font-family: $fontFamily9;
				font-weight: 400;
				font-size: $font-sizeXXXL + 9px;
			}
		}
		
		.fs20{
			font-size: $font-sizeXL;
			
			span{
				letter-spacing: -0.05em;
			}
		}
	}
	
	.main-003{
		background-image: url("../img/main003_bg.png");
		background-repeat: no-repeat;
		background-position: top 210px center;
		background-size: 100% auto;
		position: relative;
		h3{
			margin-top: 60px;
			font-family: $fontFamily9;
			font-weight: 400;
			font-size: $font-sizeXXXL + 1px;
			text-align: center;
			letter-spacing: 0.2em;

		}
		h2{
			margin-top: 40px;
			font-family: $fontFamily8;
			font-weight: 400;
			font-size: $font-sizeXXXL + 8px;
			text-align: center;
			letter-spacing: 0.05em;

			.small{
				font-size: $font-sizeXXXL + 5px;
			}
			span.big{
				font-size: $font-sizeXXXL + 12px;
				font-family: $fontFamily9;
				font-weight: 400;
			}
			span.grey{
				color:#cccccc;
			}
		}
		
		&__topdiv{
			margin: auto;
			margin-top: 70px;
			padding: 50px 80px;
			box-sizing: border-box;
			background-color: #f2f2f2;
			width: 100%;
			max-width: $displayMinsize;
			
			h4{
				width: 394px;
				text-align: center;
				color: #FFFFFF;
				font-family: $fontFamily9;
				font-weight: 400;
				font-size: $font-sizeXXL;
				background-color: #333333;
				padding: 2px;
				margin: auto;
			}
			
			ul{
				display: flex;
				justify-content: flex-start;
				align-items: center;
				li:first-child{
					width: 104px;
					margin-right: 20px;
					img{
						width: 100%;
					}
				}
				
				li:last-child{
					width: calc(100% - 124px);
					font-family: $fontFamily9;
					font-weight: 400;
					font-size: $font-sizeM;
					margin-top: 20px;
				}
			}
			
			p{
				margin-top: 40px;
				text-align: center;
				font-family: $fontFamily8;
				font-weight: 400;
				font-size: $font-sizeXL;
				
				
				.big{
					font-size: $font-sizeXXXL;
				}
				.red{
					font-family: $fontFamily9;
					font-weight: 400;
					font-size: $font-sizeXXXL;
					color: #c1272d;
				}
			}
		}
		
		&__arrow{
			width: 100%;
			max-width: 28px;
			margin: auto;
			margin-top: 40px;
		}
		
		&__middlelist{
			display: flex;
			justify-content: space-around;
			max-width: $displayMinsize;
			margin: auto;
			margin-top: 50px;
			li{
				width: calc(100% / 3) - (80px / 3);
				margin-right: 40px;
				position: relative;
				
				img{
					width: 100%;
				}
				
				p{
					position: absolute;
					bottom: 40px;
					left: 50%;
					transform: translate(-50%,0);
					text-align: center;
					font-family: $fontFamily9;
					font-weight: 400;
					font-size: $font-sizeL;
					color: #FFFFFF;
					width: calc(100% - 10px);
					letter-spacing: 0;
				}
			}
			
			li:last-child{
				margin-right: 0;
			}
		}
		
		&__img{
			margin: auto;
			margin-top: 100px;
			max-width: $displayMinsize;
		}
	}
	
	
	.main-004{
		background-color: #333333;
		width: 100%;
		position: relative;
		padding: 100px 0 60px;
		margin-top: 60px;
		
		h3{
			color: #FFFFFF;
			font-family: $fontFamily8;
			font-weight: 400;
			font-size: $font-sizeXXXL + 6px;
			text-align: center;
			span{
				font-family: $fontFamily6;
			}
		}
		h2{
			margin-top: 10px;
			color: #FFFFFF;
			font-family: $fontFamily8;
			font-weight: 400;
			font-size: $font-sizeXXXL + 13px;
			text-align: center;
		}
	}
	
	.main-004:before{
		content: "";
		position: absolute;
		top: 0px;
		left: 50%;
		transform: translate(-50%,0);
		width: 0;
		height: 0;
		border: 30px solid transparent;
		border-top: 30px solid #FFFFFF;
	}
	
	.main-005{
		background-image: url("../img/main005_bg.png");
		background-repeat: no-repeat;
		background-position: top 55px center;
		background-size: 100% auto;
		background-color: #f2f2f2;
		width: 100%;
		
		padding-top:60px;
		padding-bottom: 60px;
		
		h2{
			font-family: $fontFamily9;
			font-weight: 400;
			font-size: $font-sizeXXXL + 1px;
			text-align: center;
		}
		
		p{
			font-family: $fontFamily8;
			font-weight: 400;
			font-size: $font-sizeM;
			margin-top: 40px;
			text-align: center;
		}
		
		ul{
			display: flex;
			justify-content: space-around;
			max-width: $displayMinsize;
			margin: auto;
			margin-top: 10px;
			flex-wrap: wrap;
			li{
				width: calc((100% / 3) - (40px / 3));
				margin-right: 20px;
				position: relative;
				margin-top: 30px;
				img{
					width:100%;
				}
				h4{
					position: absolute;
					bottom: 100px;
					left: 50%;
					transform: translate(-50%,0);
					text-align: center;
					font-family: $fontFamily9;
					font-weight: 400;
					font-size: $font-sizeL;
					width: calc(100% - 10px);
					letter-spacing: 0;
				}
				p{
					position: absolute;
					bottom: 40px;
					left: 50%;
					transform: translate(-50%,0);
					text-align: center;
					font-family: $fontFamily8;
					font-weight: 400;
					font-size: $font-sizeS;
					width: calc(100% - 10px);
					letter-spacing: 0;
				}
			}
			
			li:nth-child(3n){
				margin-right: 0;
			}
		}
		
	}
	
	.main-006{
		padding: 60px 160px;
		background-color: #333333;
		
		h2{
			font-family: $fontFamily9;
			font-weight: 400;
			font-size: $font-sizeXXXL + 1px;
			text-align: center;
			color: #FFFFFF;
		}
		
		p{
			margin-top: 40px;
			font-family: $fontFamily10;
			font-weight: 400;
			font-size: $font-sizeM;
			text-align: center;
			color: #FFFFFF;
			
			.square{
				padding: 5px 10px;
				display: inline-block;
				border: 1px solid #FFFFFF;
				border-radius: 10px;
				text-align: center;
				font-family: $fontFamily8;
				font-weight: 400;
			}
			
			.batsu{
				padding-left: 5px;
			}
		}
		
		ul{
			max-width: $displayMinsize;
			margin: auto;
			margin-top: 60px;
			
			li{
				img{
					width: 100%;
				}
			}
		}
		
		&__sliderdiv{
			position: relative;
			max-width: $displayMinsize;	
			margin: auto;
			border-radius: 10px;
			background-image: url("../img/main006_bg.png");
			background-repeat: repeat;
			background-position: top 0 left 0;
			background-size: 20px 20px;
			height: 700px;
			
			ul{
				
				li{
					.main-006--img1{
						width: 100%;
						max-width: 945px;
						margin: auto;
						margin-top: 31.5px;
					}
					.main-006--img2{
						width: 100%;
						max-width: 945px;
						margin: auto;
						margin-top: 31.5px;
					}
					.main-006--img3{
						width: 100%;
						max-width: 906px;
						margin: auto;
						margin-top: 55px;
					}
				}
			}
			
			
			
			.prev{
				position: absolute;
				left: -26px;
				top: 50%;
				transform: translate(0,-50%);
				width: 52px;
				cursor: pointer;
			}
			
			.next{
				position: absolute;
				right: -26px;
				top: 50%;
				transform: translate(0,-50%);
				width: 52px;
				cursor: pointer;
			}
		}
	}
	
	.main-007{
		padding: 60px 0 80px;
		
		h2{
			font-family: $fontFamily9;
			font-weight: 400;
			font-size: $font-sizeXXXL + 1px;
			text-align: center;
		}
		
		p{
			margin-top: 30px;
			font-family: $fontFamily9;
			font-weight: 400;
			font-size: $font-sizeM;
			text-align: center;
		}
		
		ul{
			max-width: $displayMinsize;
			margin: auto;
			margin-top: 60px;
			
			display: flex;
			justify-content: space-around;
			
			li{
				width: calc(25% - (45px / 4));
				margin-right: 15px;
				background-color: #f2f2f2;
				padding-bottom: 20px;
				h3{
					font-family: $fontFamily16;
					font-weight: 400;
					font-size: $font-sizeM;
					text-align: center;
					margin-top: 30px;
					color: #333333;
				}
				.img1{
					width: 100%;
					max-width: 32px;
					margin: auto;
					margin-top: 30px;
				}
				.img2{
					width: 100%;
					max-width: 79px;
					margin: auto;
					margin-top: 30px;
				}
				.img3{
					width: 100%;
					max-width: 123px;
					margin: auto;
					margin-top: 30px;
				}
				.img4{
					width: 100%;
					max-width: 174px;
					margin: auto;
					margin-top: 30px;
				}
				
				h4{
					font-family: $fontFamily6;
					font-weight: 400;
					font-size: $font-sizeXS + 1px;
					text-align: center;
					margin: auto;
					margin-top: 40px;
					color: #333333;
				}
				
				p{
					font-family: $fontFamily10;
					font-weight: 400;
					font-size: $font-sizeXS;
					text-align: left;
					margin: auto;
					margin-top: 30px;
					width: calc(100% - 40px);
					line-height: 1.6em;
				}
			}
			.ptn3,.ptn4{
				h4{
					margin-top: 25px;
				}
				
				p{
					margin-top: 25px;
				}
			}
			li:last-child{
				margin-right: 0;
			}
		}
		
	}
	
	.main-008{
		padding: 60px 0 40px;
		background-color: #f2f2f2;
		
		h2{
			font-family: $fontFamily9;
			font-weight: 400;
			font-size: $font-sizeXXXL + 1px;
			text-align: center;
			letter-spacing: 0.2em;
		}
		ul{
			max-width: $displayMinsize;
			margin: auto;
			margin-top: 20px;
			
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
			
			li{
				width: calc(50% - 20px);
				margin-right: 40px;
				margin-top: 40px;
				padding: 40px;
				box-sizing: border-box;
				background-color: #FFFFFF;
				
				h4{
					font-family: $fontFamily13;
					font-weight: 400;
					font-size: $font-sizeS;
					text-align: center;
					color: #25959b;
					background-color: #f2f2f2;
					padding: 10px 0;
					width: 140px;
					border-radius: 20px;
					margin: auto;
				}
				
				h3{
					font-family: $fontFamily6;
					font-weight: 400;
					font-size: $font-sizeXXXL;
					text-align: center;
					margin-top: 30px;
					font-weight: 400;
					letter-spacing: 0em;
				}
				
				p{
					font-family: $fontFamily8;
					font-weight: 400;
					font-size: $font-sizeS;
					margin-top: 30px;
					letter-spacing: 0em;
				}
				
				img{
					margin-top: 30px;
					width: 100%;
				}
			}
			li:nth-child(2n){
				margin-right: 0;
			}
		}
	}
	
	.main-009{
		padding: 60px 0 90px;
		
		background-color: #333333;
		
		h2{
			font-family: $fontFamily9;
			font-weight: 400;
			font-size: $font-sizeXXXL + 1px;
			text-align: center;
			color: #FFFFFF;
			letter-spacing: 0.2em;
		}
		
		ul{
			max-width: $displayMinsize;
			margin: auto;
			margin-top: 60px;
			
			display: flex;
			justify-content: space-around;
			
			li{
				width: calc(20% - 12px);
				margin-right: 15px;
				padding: 30px 20px;
				box-sizing: border-box;
				background-color: #FFFFFF;
				
				h4{
					font-family: $fontFamily13;
					font-weight: 400;
					font-size: $font-sizeS;
					text-align: center;
					letter-spacing: .2em;
					color: #25959b;
				}
				
				.img1{
					height: 51px;
					margin: auto;
					margin-top: 30px;
				}
				
				.img2{
					height:43px;
					margin: auto;
					margin-top: 34px;
					margin-bottom: 4px;
				}
				
				.img3{
					height: 47px;
					margin: auto;
					margin-top: 32px;
					margin-bottom: 2px;
				}
				
				.img4{
					height: 49px;
					margin: auto;
					margin-top: 31px;
					margin-bottom: 1px;
				}
				
				.img5{
					height: 47px;
					margin: auto;
					margin-top: 32px;
					margin-bottom: 2px;
				}
				
				h3{
					font-family: $fontFamily9;
					font-weight: 400;
					font-size: $font-sizeM;
					text-align: center;
					margin-top: 30px;
				}
				
				p{
					font-family: $fontFamily8;
					font-weight: 400;
					font-size: $font-sizeXS;
					text-align: left;
					margin-top: 40px;
					letter-spacing: 0em;
				}
			}
		}
		
	}
	.main-010{
		padding: 60px 0;

		.red{
			font-family: $fontFamily8;
			font-weight: 400;
			font-size: $font-sizeS;
			color: #c1272d;
		}
		h2{
			font-family: $fontFamily9;
			font-weight: 400;
			font-size: $font-sizeXXXL + 1px;
			text-align: center;
		}

		h3{
			font-family: $fontFamily9;
			font-weight: 400;
			font-size: $font-sizeM;
			text-align: center;
			margin-top: 30px;
			letter-spacing: 0;
		}
		
		p{
			font-family: $fontFamily8;
			font-weight: 400;
			font-size: $font-sizeS;
			text-align: center;
			margin-top: 20px;
		}
		
		dl{
			width: 100%;
			max-width: 600px;
			margin: auto;
			padding: 0;
			
			dt{
				margin: 0;
				margin-top: 40px;
				padding: 0;
				font-family: $fontFamily9;
				font-weight: 400;
				font-size: $font-sizeS;
			}
			dd{
				margin: 0;
				padding: 0;
				font-family: $fontFamily9;
				font-weight: 400;
				font-size: $font-sizeS;
				margin-top: 10px;
				
				input[type="text"],input[type="email"],input[type="tel"]{
					border-radius: 2px;
					border: 1px solid #d5d5d5;
					background-color: #f2f2f2;
					height:50px;
					width: 100%;
					padding-left: 5px;
					padding-right: 5px;
					font-family: $fontFamily8;
					font-weight: 400;
					font-size: 16px;
					outline: none !important;
					box-sizing: border-box;
					-webkit-appearance : none;
				}

				textarea{
					resize:vertical;
					width: 100%;
					height:200px;
					border-radius: 2px;
					border: 1px solid #d5d5d5;
					background-color: #f2f2f2;
					padding-left: 5px;
					padding-right: 5px;
					font-family: $fontFamily8;
					font-weight: 400;
					font-size: 16px;
					outline: none !important;
					box-sizing: border-box;
					-webkit-appearance : none;
				}
				label{
					display: block;
					font-family: $fontFamily8;
					font-weight: 400;
					font-size: $font-sizeS;
					margin-top: 20px;
					margin-left: 23px;
				}
				label:first-child{
					margin-top: 0;
				}
				
				//チェックボックス
				input[type="checkbox"].cb1{
					display: none;
				}

				.cb1span{
					//padding-left: 20px;
					position:relative;
					cursor: pointer;
					//margin-right: 20px;
				}

				.cb1span::before{
					content: "";
					display: block;
					position: absolute;
					width: 16px;
					height: 16px;
					border-radius: 2px;
					border: 1px solid #d5d5d5;
					background-color: #f2f2f2;
					top:2px;
					left: -24px;
				}

				.cb1span.disabled::before{
					border: 2px solid #f5f5f5;
				}
				.cb1span.disabledGrey::before{
					border: 2px solid #777777;
				}
				/*.cb1span:hover::before{
					@include cbDefColor_hover;
				}*/
				input[type="checkbox"].cb1:checked + .cb1span{
					color: #FFF;
				}
				input[type="checkbox"].cb1:checked + .cb1span::before{
					border: 1px solid #d5d5d5;
					background-color: #f2f2f2;
				}
				input[type="checkbox"].cb1:checked + .cb1span::after{
					content: "";
					display: block;
					position: absolute;
					width: 6px;
					height: 9px;
					transform: rotate(45deg);
					border-bottom: 2px solid #25959b;
					border-right: 2px solid #25959b;
					top:3px;
					left: -19px;
				}
				//チェックボックス
				input[type="radio"].radio1{
					display: none;
				}

				.radio1span{
					position:relative;
					cursor: pointer;
				}

				.radio1span::before{
					content: "";
					display: block;
					position: absolute;
					width: 14px;
					height: 14px;
					background-color: #f2f2f2;
					border-radius: 50%;
					border: 2px solid #d5d5d5;
					top:2px;
					left:-24px;
				}

				input[type="radio"].radio1:checked + .radio1span{
					color: #FFF;
				}
				input[type="radio"].radio1:checked + .radio1span::before{
					//background-color: $mainColor;
					//border: 1px solid $mainColor;

				}
				input[type="radio"].radio1:checked + .radio1span::after{
					content: "";
					display: block;
					position: absolute;
					width: 6px;
					height: 6px;
					border: 2px solid  #25959b;
					background-color:  #25959b;
					border-radius: 50%;
					top:6px;
					left:-19.25px;
				}
				
				@-moz-document url-prefix() {
					.cb1span::before{
						top:0px;
					}
					input[type="checkbox"].cb1:checked + .cb1span::after{
						top:2px;
					}
				}
				
				/*Safariだけに適用されるCSSハック*/
				@media screen and (-webkit-min-device-pixel-ratio:0) {
					input[type="radio"].radio1:checked + .radio1span::after{
						left:-20px;
					}
				}				
				a{
					text-decoration: underline;
					font-family: $fontFamily8;
					font-weight: 400;
					font-size: $font-sizeS;
					color: #25959b;
					
				}
			}
		}
		
		.main-010__btn{
			display: block;
			width: 100% ;
			max-width: 276px;
			margin: auto;
			margin-top: 70px;
			cursor: pointer;
			img{
				width: 100% ;
				opacity: 1
			}
		}
		.main-010__btn.disabled{
			display: block;
			width: 100% ;
			max-width: 276px;
			margin: auto;
			margin-top: 70px;
			cursor: default;
			height: 70px;
			img{
				width: 100% ;
				opacity: .5
			}
		}
		.main-010__btn.disabled:hover{
			filter: alpha(opacity=50);
			opacity: .5;
			transition: none;
			-webkit-transition: none;
			-o-transition: none;
			height: 70px;

			img{
				margin: auto;
				filter: alpha(opacity=100);
				opacity: 1;
				transition:none;
				-webkit-transition: none;
				-o-transition: none;
			}
		}
		/*.main-010__btn.hv:hover{
			filter: alpha(opacity=100);
			opacity: 1;
			transition: opacity 0.5s 0s ease-out;
			-webkit-transition: opacity 0.5s 0s ease-out;
			-o-transition: opacity 0.5s 0s ease-out;
			height: 70px;

			img{
				margin: auto;
				max-width: 276px * 0.9;
				filter: alpha(opacity=100);
				opacity: 1;
				transition: opacity 0.5s 0s ease-out;
				-webkit-transition: opacity 0.5s 0s ease-out;
				-o-transition: opacity 0.5s 0s ease-out;
			}
		}*/
		
		.main-010__btn2{
			display: block;
			width: 100% ;
			max-width: 354px;
			margin: auto;
			margin-top: 70px;
			height: 70px;
			
			img{
				width: 100% ;
			}
		}
		
		/*.main-010__btn2:hover{
			filter: alpha(opacity=100);
			opacity: 1;
			transition: opacity 0.5s 0s ease-out;
			-webkit-transition: opacity 0.5s 0s ease-out;
			-o-transition: opacity 0.5s 0s ease-out;

			img{
				margin: auto;
				max-width: 354px * 0.9;
				filter: alpha(opacity=100);
				opacity: 1;
				transition: opacity 0.5s 0s ease-out;
				-webkit-transition: opacity 0.5s 0s ease-out;
				-o-transition: opacity 0.5s 0s ease-out;
			}
		}*/
		
		
		
		.main-010__btn3{
			display: block;
			width: 100% ;
			max-width: 131px;
			margin: auto;
			margin-top: 30px;
			height: 70px;
			
			img{
				width: 100% ;
			}
		}
		
	}
	.main-011{
		h2{
			font-family: $fontFamily9;
			font-weight: 400;
			font-size: $font-sizeXXXL + 1px;
			text-align: center;
			margin-top: 120px;
		}
		
		p{
			font-family: $fontFamily9;
			font-weight: 400;
			font-size: $font-sizeM;
			text-align: center;
			margin-top: 30px;
		}
		.main-011__btn{
			display: block;
			width: 100% ;
			max-width: 274px;
			margin: auto;
			margin-top: 70px;
			
			img{
				width: 100% ;
			}
		}
		/*.main-011__btn:hover{
			filter: alpha(opacity=100);
			opacity: 1;
			transition: opacity 0.5s 0s ease-out;
			-webkit-transition: opacity 0.5s 0s ease-out;
			-o-transition: opacity 0.5s 0s ease-out;

			img{
				margin: auto;
				max-width: 274px * 0.9;
				filter: alpha(opacity=100);
				opacity: 1;
				transition: opacity 0.5s 0s ease-out;
				-webkit-transition: opacity 0.5s 0s ease-out;
				-o-transition: opacity 0.5s 0s ease-out;
			}
		}*/
	}
}

footer{
	margin-top: 70px;
	padding: 50px 0;
	background-color: #333333;
	.footer-inner{
		width: 100%;
		max-width: $displayMaxsize;
		min-width: $displayMinsize;
		margin: auto;
	}
	.footer-top{
		display: flex;
		justify-content: center;
		//width: 290px;
		margin: auto;
		a{
			display: block;
			color: #FFFFFF;
			font-family: $fontFamily9;
			font-weight: 400;
			font-size: $font-sizeXS;
			margin-right: 50px;
		}
		
		a:last-child{
			margin-right: 0;
		}
	}
	p{
		color: #FFFFFF;
		font-family: $fontFamily8;
		font-weight: 400;
		font-size: $font-sizeXXS;
		text-align: center;
		margin-top: 50px;
	}
}